.referrals{
  padding-right: 0px !important;
  font-size: 1.2em;
  min-height: 49vh;

  .referral-title{
    color: #919390;
  }

  hr{
    margin-top: 10px !important;
    border: 0;
    border-top: 1px solid #eeeeee;
    margin-bottom: 5px;
  }

}
