.box .form .facebook {
  i {
    color: white;
    border-right: 1px solid white;
    padding-right: .4em;
    margin-right: .2em;
  }
}

.auth-or {
  margin-top: 0.7em;
}

.show-email, a.show-email:hover {
  text-decoration: none;
}

#sign-form {
  display: none;
}
