<section class="services">
  <div class="row" ng-controller="ValetCtrl">
    <div class="container-fluid">
      <h3 class="transaction-h4">Beam Valet Services</h3>
      <!-- <h3>Education changes not just the mind, but your ward's life</h3> -->

      <div class="page-header text-center">
        <div id="status-buttons" class="text-center" ng-hide="paymentComplete">
          <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-5"><a ng-class="{active: detailsState}" ui-sref="app.valet.details" class="col-xs-4"><span>1</span> Valet Details</a></div>
            <div class="col-xs-5"><a href="" ng-class="{active: recipientState}" ng-click="setDetails()" class="col-xs-4"><span>2</span> Send Request</a></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-6">
          <div class="errors" role="alert" ng-show="errors.length">
            <p>Error(s):</p>
            <ul>
              <li ng-repeat="error in errors">
                {{ error }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-5 sla">
            <div class="row sla-title">
              <p>How Beam Valet service works</p>
            </div>
            <hr>
            <div class="row sla-layer">
              <div class="col-sm-12 text-left">
                Beam Valet is your friend on the ground helping you with anything that needs to be done back home.
              </div>
            </div>
            <div class="row sla-layer">
              <div class="col-sm-1">
                <span class="lnr lnr-location"></span>
              </div>
              <div class="col-sm-11 text-left">Send us some basic information about what you want us to do</div>
            </div>
            <div class="row sla-layer">
              <div class="col-sm-1">
                <span class="lnr lnr-hourglass"></span>
              </div>
              <div class="col-sm-11 text-left">We'll get in touch with you to iron out the details and payment</div>
            </div>
            <div class="row sla-layer">
              <div class="col-sm-1">
                <span class="lnr lnr-rocket"></span>
              </div>
              <div class="col-sm-11 text-left">We'll fulfill your request and keep you updated</div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-6">
            <div ui-view=""></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
