<div class="form-group">
  <label for="contact">How should we keep you updated? <span class="errors">{{errors.preferredContactMethod}}</span></label><br>

  <div class="radio">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <input type="radio" ng-model="details.preferredContactMethod" ng-value="whatsAppMethod" id="contact-whatsapp">
        <label class="checkbox-inline" for="contact-whatsapp"> WhatsApp </label>
      </div>

      <div class="col-sm-6 col-md-3">
        <input type="radio" ng-model="details.preferredContactMethod" ng-value="phoneMethod" id="contact-phone">
        <label class="checkbox-inline" for="contact-phone"> Phone Call </label>
      </div>

      <div class="col-sm-6 col-md-3">
        <input type="radio" ng-model="details.preferredContactMethod" ng-value="emailMethod" id="contact-email">
        <label class="checkbox-inline" for="contact-email"> Email </label>
      </div>
    </div>
    <br>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <label for="contact">Contact:</label>
    </div>
    <div class="col-xs-10">
      <input type="text" class="form-control" placeholder="Enter your contact details" id="contact" ng-model="details.preferredContactDetails">
    </div>
  </div>

</div>
