<div class="container-fluid">

  <div class="row" ng-show="pricing">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <form class="form" ng-submit="setDetails()">
        <div class="transaction-control">

        <div class="form-group">
          Which service provider would you like to pay for?<br>
            <div class="radio">
                <label>
                   <input type="radio" ng-model="details.billType" value="DST" checked>
                   <img src="apps/television/images/dstv-logo.png" class="service-image">
                </label>
            </div>
            <div class="radio">
                <label>
                   <input type="radio" ng-model="details.billType" value="GOT">
                   <img src="apps/television/images/gotv-logo.jpg" class="service-image">
                </label>
            </div>
          </div>


        <div class="form-group">
          <label for="referenceNo">Account number <span class="small text-muted">(optional)</span></label>
          <input type="text" class="form-control" placeholder="Eg. 37615596" ng-model="details.accountNumber">
        </div>

        <div class="form-group">
          <label for="amount">How much in GHS would you like to pay?</label>
          <input type="number" class="form-control" placeholder="Eg. 350 GHS" ng-model="details.amountGhs" ng-change="calculatePricing()" required min="50" max="5000">
        </div>
        <div class="row text-center" ng-show="details.serviceFee > 0">
          <div class="col-md-3">
            <strong>Base Cost</strong><br>
            $ {{ details.amountUsd }}
          </div>
          <div class="col-md-1">
            <strong>&nbsp;</strong><br>
            +
          </div>
          <div class="col-md-3">
            <strong>Service Fee</strong><br>
            $ {{ details.serviceFee }}
          </div>
          <div class="col-md-1">
            <strong>&nbsp;</strong>
            =
          </div>
          <div class="col-md-3">
            <strong>Total Cost</strong><br>
            $ {{ details.chargeUsd }}
          </div>
        </div>
        <br><br>
        <div class="form-group">
            <div class="service-button">
              <input type="submit" class="btn btn-success form-control">
            </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
