<div class="container">
  <div class="row" >
    <div class="col-sm-6">
       <form class="form" ng-submit="setDetails()">
        <div class="form-group">
          <label for="provider">Which service provider would you like to pay?</label>
          <select ng-model="details.billType" name="provider" class="form-control">
            <option value="">-- Select a provider --</option>
            <option value="DST">DSTv</option>
            <option value="GOT">GOTv</option>
          </select>
        </div>

        <div class="form-group">
          <label for="referenceNo">8-digit / reference number </label>
          <input type="text" class="form-control" placeholder="Eg. 37615596" ng-model="details.accountNumber">
        </div>

        <div class="form-group">
          <label for="amount">How much would you like to pay?</label>
          <input type="number" class="form-control" placeholder="Eg. 350 GHS" ng-model="details.amountGhs" ng-change="calculatePricing()">
        </div>

        <div class="row text-center" ng-show="details.serviceFee > 0">
          <div class="col-xs-2">
            <strong>Base Fee</strong><br>
            {{ details.amountUsd }}
          </div>
          <div class="col-xs-1">
            <strong>&nbsp;</strong><br>
            +
          </div>
          <div class="col-xs-4">
            <strong>Service Charge</strong><br>
            {{ details.serviceFee }}
          </div>
          <div class="col-xs-1">
            <strong>&nbsp;</strong><br>
            =
          </div>
          <div class="col-xs-2">
            <strong>Total Bill</strong><br>
            {{ details.chargeUsd }}
          </div>
        </div>
        <br><br><br>

        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <input type="submit" class="btn btn-success form-control">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
