.landing-intro {
  background-color: $green;
  color: $white;
  font-family: 'bariol';
  min-height: 90%;

  // .call-us {
  //   background-color: $dark-green;
  //   text-align: center;
  //   max-width: 350px;
  //   padding: 10px 25px;
  //   font-size: 1.5em;
  //   margin-left: 75px;
  // }

  .navbar-brand{
    background-color: $green;
  }

  .nav-link{
    border-right: 1px solid $dark-green;
    padding-left: 25px;
   padding-right: 25px;
  }

  .navbar{
    background-color: transparent;
    z-index: 9;

    a{
      color: $white;
    }

    a:hover{
      color: $green;
      text-decoration: none;
    }
  }

.nav-link-nb{
    padding-left: 25px;
  }

  ul{
    list-style: none;
  }
  ul > li{
    display: inline-block;
  }

  h1 > span.header-font{
    font-family: 'freestyle-script';
  }


  #heart{
    margin-top: -40px;
    margin-left: -40px;
  }

  img {
    &#logo {
      height: 30px;
      margin: 100px 0 30px 0;

      @media screen and (max-width: $screen-xs-max) {
        margin: 30px 0;
      }
    }

    &#hero {
        margin-top: -60px;
        margin-left: -100px;
    }
  }

  .call-to-action{
    padding-top: 150px;
    padding-bottom: 20px;
  }

  h1 {
    font-size: 50px;
    // padding-top: 200px;
  }

  h3 {
    margin-top: 0px;
  }

  .submit {

    button {
      padding: 5px 40px 5px 40px;
      background-color: $orange;
      color: $white;
      border-color: $orange;
      border-radius:5px;
      margin-top: 10px;
      font-size: 17px;
      font-weight: bold;
      -webkit-box-shadow: 0px 3px 0px $army-green;
       -moz-box-shadow: 0px 3px 0px $army-green;
        box-shadow: 0px 3px 0px $army-green;
    }

    button:hover {
      background-color: $white;
      color: $orange;
    }
  }

}
