.landing-message {
  background-color: $blue;
  color: $white;
  padding: 40px 0px;
  font-family: 'bariol';

  text-align: center;

  img {
    padding-top: 40px;
    width: 500px;
    margin: 0 auto;
  }

  .submit{
    padding-top: 20px;
  }

  .btn-lg{
    background-color: $dark-blue;
    border-color: $gray-extra-light;
    border-width: 2px;
  }

  .btn-lg:hover{
    background-color: $white;
    color: $dark-blue;
  }
}
