.landing-notify {
  background-color: $green;
  color: $white;
  padding: 40px 0px;
  font-family: 'bariol';

  text-align: center;

  h3{
    font-weight: 600;
  }

  .common {
    margin-bottom: 50px;

    h3 {
      margin: 0 auto;
    }
  }

  input[type=email] {
    display: inline-block;
    margin-top: 25px;
    margin-right: 10px;
    max-width: 250px;
    font-size: 1.5em;
    height: 43px;

    @media screen and (max-width: $screen-xs-max) {
      margin-right: 0px;
    }
  }

  a, input[type=submit] {
    @include black-button();
    text-decoration: none;
    background-color: $green;
    border: 1px solid $white;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 15px;
    cursor: pointer;

    @media screen and (max-width: $screen-xs-max) {
      margin-top: 10px;
    }
  }

  .btn-default{
    font-size: 1.4em;
     padding: 5px 20px;
     margin: 35px 30px;
     color: $green;
     background-color: $white;
  }

  .subscribe .btn-default{
    margin-top: 27px;
    margin-left: 0;
  }

  .btn-default:hover{
    border:1px solid #498812 !important;
    color: $white;
    background-color: $green;

  }

  .btn-default:active{
     border-color: #FFF !important;
  }

  .btn-notify{
     box-shadow: 0px 3px 0px #498812;
  }

  hr {
    max-width: 500px;
    padding-top: 5px;
    border-color: $green - 10;
  }

}
