.landing-services {
  background-color: $white;
  padding: 40px 0px;
  font-family: 'bariol';

  .heading {
    text-align: center;

    h3 {
      color: $blue;
      font-weight: bolder;
    }

    .details {
      color: $gray-light;
      font-size: 20px;
    }
  }




  .service {
    padding-top: 50px;

    a:hover{
      background-color: transparent;
      text-decoration: none;
    }

    i.lnr{
      font-size: 90px;
      color: $blue;

      .lnr-graduation-hat{
        font-size: 100px;
        padding-top: 60px;
        width:100px;
      }
      .lnr-sun{
        font-size:30px !important;
        // width:40px;
      }
    }

    .text {
      text-align: center;

      h5 {
        color: $blue;
        font-weight: bolder;
      }

      h4 {
        color: $gray-light;
        max-width: 190px;

        margin: 0 auto;
        padding-top: 5px;

        line-height: 30px;
      }
    }
  }

   .submit-btn{
      padding-top: 50px;
    }

  .btn-lg{
    color: $white;
    background-color: $blue;
    border-color: $gray-extra-light;
    border-width: 2px;
  }

  .btn-lg:hover{
    color: $blue;
    background-color: $white;
  }

  .question {
    padding-top: 50px;

    .circle {
      @include circle($green);

      h1 {
        color: $green;
        font-size: 135px;
      }
    }
  }

  .more {
    padding-top: 35px;

    h4 {
      color: $gray-light;

      &.emphasis {
        color: $green;
      }
    }

    .box {
      background-color: $green;
      border-radius: 5px;
      padding: 15px;
      max-width: 500px;

      input {
        @extend .form-control;
      }

      h4 {
        color: $white;
      }

      input[type=submit] {
        @include black-button();
        width: initial;
        margin: 10px 0 0 auto;
        padding: 0 20px;
      }
    }
  }
}
