.landing-why {
  background-color: $white;
  padding: 30px 0px;
  font-family: 'bariol';

  .heading {  
    text-align: center;

    h3 {
      width:250px;
      padding: 10px 0;
      border-bottom: 1px solid $green;
      color:$gray-dark;
    }
    .details{
      color:$gray-light;
      padding-top: -10px;
      font-size: 20px;
    }
  }

  .content{
    padding:20px 0px 20px 20px;

    .lnr{
      color:$green;
      font-size: 25px;
    }
    span{
      color: $gray-dark;
      font-size: 20px;
      font-weight: 400;
    }
    .details{
      color:$gray-light;
      font-size: 20px;
    }
    .service-pt{
      padding-bottom: 25px;
      padding-top: 15px
    }
  }

  .submit-btn{
    padding-bottom: 50px;
  }

  .submit {
    // margin-left: -15px;

    button {
      padding: 5px 40px 5px 40px;
      background-color: $dark-green;
      color: $white;
      border-color: $dark-green;
      border-radius:5px;
      margin-top: 10px;
      font-size: 17px;
      font-weight: bold;
      -webkit-box-shadow: 0px 3px 0px $army-green;
      -moz-box-shadow: 0px 3px 0px $army-green;
      box-shadow: 0px 3px 0px $army-green;
    }

    button:hover {
      background-color: $white;
      color: $dark-green;
    }
  }

  .heading-two{
    padding:20px 0 20px 0; 

    h3 { 
      color:$gray-dark;
    }
  }

  .__hori{ 
    padding: 40px 0 30px 0;
    border-bottom: 1px solid rgba(122, 150, 231, 0.35);
  }

  .list {
    padding-top: 25px;

    p {
      color: $gray-light;
      font-size: 1.5em;

      img {
        height: 20px;
        padding-right: 10px;
      }
    }
  }

  a {
    @include black-button-invert();
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
  }

  .step {
    padding-top: 25px;
    padding-bottom: 20px;
    font-weight: bolder;

    .circle {
      @include circle($green);
      width:100px;
      height:100px;

      img {

        &#shield {
          padding-top: 20px;
          padding-left: 5px;
          width: 60px;
        }

        &#bolt {
          padding-top: 12px;
          width: 60px;
        }

        &#moneyback {
          padding-top: 15px;
          width: 70px;
        }

      }

    }

    .text {
      text-align: center;

      h3 {
        color: $green;
        font-weight: bolder;
        padding-top: 5px;
      }

      h4 {
        color: $gray-light;
        max-width: 250px;

        margin: 0 auto;
        padding-top: 5px;

        line-height: 30px;
        font-size: 20px;
      }
    }
  }

  hr {
    // padding: 50px 0px;
  }

}
