<div class="faqs text-center">
  <div class="">
    <accordion close-others="true">
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">What can I use Beam for? </div>
        </accordion-heading>
        <div class="faq-answer">
          Beam helps Ghanaians abroad care for loved ones back home with gifts and bill payments. The way we make a difference is to ensure the money is attributed directly to specific services, like paying for your niece’s school fees, your grandma's electricity bill or topping up your sister's phone credit. In addition, we can even arrange for gift services like buying and delivering a birthday cake for your best friend’s birthday back in Ghana. <br><br>
          Do you need a helping hand on the ground? Beam does all sorts of errands in Ghana on your behalf. Get us to do deliveries, check on your construction project or let us help you with finding service providers or local products.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">How does Beam work? </div>
        </accordion-heading>
        <div class="faq-answer">
          You can place your order with Beam in two ways: You either sign up to Beam via <a href="https://www.beampay.co">www.beampay.co</a> and pick one of the services. Alternatively, you can reach us directly via WhatsApp (024 145 1551) and just tell us what you need. <br><br>
          A member of the Beam service team will get back to you shortly after you placed your request and iron out all the details and payment.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">Can I send money through Beam? </div>
        </accordion-heading>
        <div class="faq-answer">
          No, Beam never pays out money to individuals.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">How can I make a payment on Beam? </div>
        </accordion-heading>
        <div class="faq-answer">
          You can pay on Beam with any international debit or credit card.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">What service fees can I expect on Beam? </div>
        </accordion-heading>
        <div class="faq-answer">
          Our service charges vary depending on the specific service provided. We always inform you about all the costs, which you have a chance to accept or reject before we send the invoice, so there will be no unpleasant surprises.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">In which currency will I be charged? </div>
        </accordion-heading>
        <div class="faq-answer">
          You will be always charged in USD.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">How can I be sure that my payment has been made? </div>
        </accordion-heading>
        <div class="faq-answer">
          You will receive a receipt for every transaction with Beam, and if you have a specific confirmation method you prefer, we’re happy to provide that as well.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">Are there any extra charges? </div>
        </accordion-heading>
        <div class="faq-answer text-justify">
          There might be extra charges if you make payments from outside the U.S. This is because banks outside the U.S. charge customers a small fee for making payments to U.S.-based companies. <br><br>
          If you are from another country, your bank might incur some extra charges:
          <ul>
            <li>for conversion to USD in case your bank uses another currency</li>
            <li>for making an international payment if you bank is not a U.S. bank</li>
          </ul>

          You can find out these charges from your bank (more info).
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">Is my personal data safe with Beam? </div>
        </accordion-heading>
        <div class="faq-answer">
          We protect your personal data by using the latest technology and applying the highest security standards. We use SSL encryption for all communication with our website to make sure that no third party can intercept your data. We never store sensitive credit card data ourselves, but use top-notch third party service providers that are PCI- compliant (i.e. the payment providers that meet the Payment Card Industry Data Security Standard) and fulfill all regulatory requirements. Your personal data is stored safely on the servers of industry-leading data storage providers.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">How can I be sure that you are not a scam? </div>
        </accordion-heading>
        <div class="faq-answer">
          Beam is a registered company in both the United States of America and Ghana. <br><br>
          In Ghana, we are registered as Beam Services Ltd. and our Company Registration No. is CS499892014. <br><br>
          In the U.S., we are registered under the name Beam Pay, Inc. and our EIN is 36-4804982. <br><br>
        </div>
      </accordion-group>
    </accordion>
    <div class="call-to-action">
      Do you have more questions? Please send your question via email to <a href="mailto:falk@beampay.co">falk@beampay.co</a><br> Contact us on <strong>WhatsApp</strong> at <strong>+233 (0)50 554 6420</strong>, or give us a call at <strong>+233 (0)50 939 2087</strong>.
    </div>
  </div>
</div>
