<div class="faqs">
  <div class="container">
    <accordion close-others="true">
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">What can I use Beam for? </div>
        </accordion-heading>
        <div class="faq-answer">
          Beam helps Ghanaians abroad care for loved ones back home with gifts and bill payments. The way we make a difference is to ensure the money is attributed directly to specific services, like paying for your niece’s school fees, your grandma's electricity bill or topping up your sister's phone credit. In addition, we can even arrange for gift services like buying and delivering a birthday cake for your best friend’s birthday back in Ghana. <br><br>
          Do you need a helping hand on the ground? Beam does all sorts of errands in Ghana on your behalf. Get us to do deliveries, check on your construction project or let us help you with finding service providers or local products.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">How does Beam work? </div>
        </accordion-heading>
        <div class="faq-answer">
          You can place your order with Beam in two ways: You either sign up to Beam via <a href="https://www.beampay.co">www.beampay.co</a> and pick one of the services. Alternatively, you can reach us directly via WhatsApp (024 145 1551) and just tell us what you need. <br><br>
          A member of the Beam service team will get back to you shortly after you placed your request and iron out all the details and payment.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">Can I send money through Beam? </div>
        </accordion-heading>
        <div class="faq-answer">
          No, Beam never pays out money to individuals.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">How can I make a payment on Beam? </div>
        </accordion-heading>
        <div class="faq-answer">
          You can pay on Beam with any international debit or credit card.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">How can I be sure that my payment has been made? </div>
        </accordion-heading>
        <div class="faq-answer">
          You will receive a receipt for every transaction with Beam.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">How high are the charges on Beam? </div>
        </accordion-heading>
        <div class="faq-answer">
          Our service charges vary depending on the specific service. Don’t worry, we always inform you about all the costs beforehand, so there will be no unpleasant surprises.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">Is my personal data safe with Beam? </div>
        </accordion-heading>
        <div class="faq-answer">
          We protect your personal data by using the latest technology and applying the highest security standards. We use SSL encryption for all communication with our website to make sure that no third party can intercept your data. We never store sensitive credit card data ourselves, but use top-notch third party service providers that are PCI- compliant (i.e. the payment providers that meet the Payment Card Industry Data Security Standard) and fulfill all regulatory requirements. Your personal data is stored safely on the servers of industry-leading data storage providers.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">How can I be sure that you are not a scam? </div>
        </accordion-heading>
        <div class="faq-answer">
          Beam is a registered company in both the United States of America and Ghana. <br><br>
          In Ghana, we are registered as Beam Services Ltd. and our Company Registration No. is CS499892014. <br><br>
          In the U.S., we are registered under the name Beam Pay, Inc. and our EIN is 36-4804982. <br><br>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
