<div class="faqs">
  <div class="container">
    <h3>Payments</h3>
    <accordion close-others="true">
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">Which cards are supported? </div>
        </accordion-heading>
        <div class="faq-answer">
          <ul>
            <li>Stripe: all debit and credit cards of Visa, MasterCard, American Express, JCB, Discover, and Diners Club (<a href="https://support.stripe.com/questions/which-cards-and-payment-types-can-i-accept-with-stripe" target="_blank">more info</a>)</li>
            <li>Paypal: all credit cards of Visa, MasterCard, American Express, Discover, JCB, Diner's Club and EnRoute and all debit cards of Visa and MasterCard (<a href="https://www.paypal.com/us/webapps/helpcenter/helphub/article/?solutionId=FAQ1525&topicID=&m=ARA" target="_blank">more info</a>)</li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">In which currency will I be charged? </div>
        </accordion-heading>
        <div class="faq-answer">
          You will be always charged in USD.
        </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <div class="faq-question">Are there any extra charges? </div>
        </accordion-heading>
        <div class="faq-answer">
          Note that you make a payment to a U.S.-based company in USD. <br><br>
          If you are from another country, your bank might incur some extra charges:
          <ul>
            <li>for conversion to USD in case your bank uses another currency</li>
            <li>for making an international payment if you bank is not a U.S. bank</li>
          </ul>

          You can find out these charges from your bank (more info).
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
