<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 section">
        <img src="/images/logo/logo.png" alt="Beam Logo - White on Transparent">
        <h4>Care for loved ones in Ghana quickly and affordably.</h4>
      </div>
      <div class="col-md-3 section">
        <h3>LINKS</h3>
        <ul>
          <li><a href="/">Homepage</a></li>
          <li><a href="https://vip.beamremit.com/#!/about" target="_blank">About Beam</a></li>
          <li><a href="http://blog.beamremit.com" target="_blank">Blog</a></li>
          <li><a href="https://www.dropbox.com/sh/rlbwd1fdkq3j7y5/AAAggEA2lfY0XXswUBt9BFCpa?dl=0" target="_blank">Press Pack</a></li>
        </ul>
      </div>
      <div class="col-md-3 section">
        <h3>CONTACT BEAM</h3>
        <ul>
          <li><a href="tel:+233265524931">+233 (0)26 552 4931</a></li>
          <li><a href="mailto:hello@beamremit.com">hello@beamremit.com</a></li>
        </ul>
      </div>
      <div class="col-md-3 section">
        <h3>SAY HELLO</h3>
        <ul>
          <li><a href="https://facebook.com/BeamRemit" target="_blank">Beam on Facebook</a></li>
          <li><a href="https://twitter.com/BeamRemit" target="_blank">Beam on Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
