<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img id="logo" src="/images/logo/logo.png" alt="Beam Logo - White on Transparent">
        <h1>To Ghana, with love.</h1>
        <h3>Care for loved ones in Ghana, quickly and affordably.</h3>
        <button>
          Get notified when we launch
        </button>
      </div>
      <div class="col-md-6 hidden-sm hidden-xs">
        <img id="hero" src="/images/hero.png" alt="Hero Family Image">
      </div>
    </div>
  </div>
</div>
