<div class="services">
  <div class="container">
    <div class="row heading">
      <h1>Provide for loved ones</h1>
      <h3>What can you Beam to friends and family?</h3>
    </div>
    <div class="row">
      <div class="col-md-4 service">
        <div class="circle">
          <img id="school" src="/images/services/school.png" alt="School Service Image">
        </div>
        <div class="text">
          <h3>School fees</h3>
          <h4>Pay directly for your ward's fees in a few clicks</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="utility" src="/images/services/utility.png" alt="Utility Service Image">
        </div>
        <div class="text">
          <h3>Utility bills</h3>
          <h4>Take care of monthly water and electricity bills</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="phone" src="/images/services/phone.png" alt="Airtime Service Image">
        </div>
        <div class="text">
          <h3>Airtime topups</h3>
          <h4>Purchase credit on MTN, Vodafone, Airtel and Tigo</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="shopping" src="/images/services/shopping.png" alt="Gift Card Service Image">
        </div>
        <div class="text">
          <h3>Gift cards</h3>
          <h4>Treat them at MaxMart, Shoprite and Melcom</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="internet" src="/images/services/internet.png" alt="Internet Service Image">
        </div>
        <div class="text">
          <h3>Internet access</h3>
          <h4>Pay for Surfline, Djungle, BlueCloud and iBurst</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="tv" src="/images/services/tv.png" alt="TV Service Image">
        </div>
        <div class="text">
          <h3>Cable TV</h3>
          <h4>Pay for monthly DSTV and GOtv bills</h4>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-4 question">
        <div class="circle">
          <h1>?</h1>
        </div>
      </div>
      <div class="col-md-6 more">
        <h3>Did we miss anything?</h3>
        <h4>How would you prefer to support loved ones in Ghana?</h4>
        <div class="box">
          <h4>I'd like to support loved ones in Ghana by paying directly for:</h4>
          <input type="text" placeholder="eg. medical bills">
          <div class="text-right">
            <button>Let us know</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
