<section class="airtime">
<div class="form-group">
<h5>Select recipient's phone network </h5>
    <div class="radio">
        <label>
           <input type="radio" ng-model="airtimeFormData.network" value="airtel" checked>
           <img src="apps/airtime/images/airtel.png">
        </label>
    </div>
    <div class="radio">
        <label>
           <input type="radio" ng-model="airtimeFormData.network" value="mtn">
           <img src="apps/airtime/images/mtn.png">
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="airtimeFormData.network" value="vodafone">
            <img src="apps/airtime/images/vodafone.png">
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="airtimeFormData.network" value="tigo">
            <img src="apps/airtime/images/tigo.png">
        </label>
    </div>
</div>

<div class="form-group">
    <label for="airtimeAmount">How much airtime do you want to buy?</label>
    <input type="text" class="form-control" name="airtimeAmount" ng-model="airtimeFormData.airtimeAmount">
</div>

<div class="form-group">
    <!-- <label for="email">How much airtime do you want to buy?</label>
    <input type="text" class="form-control" name="airtimeAmount" ng-model="airtimeFormData.airtimeAmount"> -->
    Base Cost + Service Fee = Total Cost
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="app.airtime.recipient" class="btn btn-block btn-default">Next</a>
</div>
</div>
</section>
