<section class="airtime">
<div class="form-group">
<strong>Select recipient's phone network </strong><br>
    <div class="radio">
        <label>
           <input type="radio" ng-model="airtimeFormData.network" value="AIRTEL" checked>
           <img src="apps/airtime/images/airtel.png">
        </label>
    </div>
    <div class="radio">
        <label>
           <input type="radio" ng-model="airtimeFormData.network" value="MTN">
           <img src="apps/airtime/images/mtn.png">
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="airtimeFormData.network" value="VODAFONE">
            <img src="apps/airtime/images/vodafone.png">
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="airtimeFormData.network" value="TIGO">
            <img src="apps/airtime/images/tigo.png">
        </label>
    </div>
</div>

<div class="form-group">
    <label for="airtimeAmount">How much airtime do you want to buy?</label>
    <input type="number" min="5" step="1" placeholder="20 GHS" class="form-control" name="airtimeAmount" ng-model="airtimeFormData.airtimeAmountGhs" ng-change="calculatePricing()">
</div>

<div class="row text-center" ng-show="airtimeFormData.serviceFee > 0">
	<div class="col-xs-2">
	<strong class="fee-title">Base Fee</strong><br>
	{{ airtimeFormData.amountUsd }}
	</div>
	<div class="col-xs-1">
	<strong>&nbsp;</strong><br>
	+
	</div>
	<div class="col-xs-4">
	<strong class="fee-title">Service Charge</strong><br>
	{{ airtimeFormData.serviceFee }}
	</div>
	<div class="col-xs-1">
	<strong>&nbsp;</strong><br>
	=
	</div>
	<div class="col-xs-2">
	<strong class="fee-title">Total Bill</strong><br>
	{{ airtimeFormData.chargeUsd }}
	</div>
</div>
<br><br><br>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="app.airtime.recipient" class="btn btn-block btn-success">Next</a>
</div>
</div>
</section>
