<section class="airtime">
    <h6>You'd like to send:</h6>
    <!-- <div class="row"> -->
      <div class="col-md-4">
        <img ng-show="airtimeFormData.network == 'AIRTEL'" src="apps/airtime/images/airtel.png" alt="Airtel" style="height: 100px">
        <img ng-show="airtimeFormData.network == 'MTN'" src="apps/airtime/images/mtn.png" alt="mtn" style="height: 100px">
        <img ng-show="airtimeFormData.network == 'TIGO'" src="apps/airtime/images/tigo.png" alt="Tigo" style="height: 100px">
        <img ng-show="airtimeFormData.network == 'VODAFONE'" src="apps/airtime/images/vodafone.png" alt="Vodafone" style="height: 100px">
      </div>
      <div class="col-md-8">
        <h6>DESCRIPTION</h6>
		<p>        
        	<strong>GHS{{airtimeFormData.airtimeAmountGhs}}</strong> worth of <strong>{{airtimeFormData.network}}</strong> airtime to <strong>{{airtimeFormData.recipient.phoneNumber}}</strong> 
        </p>
        <br>
        <h6><strong>FINAL BILL</strong></h6>
        <p><strong>${{airtimeFormData.chargeUsd}}</strong></p>
        <br>
        <button class="btn btn-success" ng-click="confirm()">Pay</button>
      <!-- </div> -->
    </div>
</section>