<form class="form" ng-submit="setDetails()" >
  <div class="transaction-control">

  <div class="form-group">
    Select your recipient's network <br>
    <p class="errors">{{errors.network}}</p>
      <div class="radio" ng-repeat="(provider, property) in providerProperties">
          <label>
             <input type="radio" ng-model="details.provider" value="{{provider}}" checked>
             <img ng-src="{{property.logo}}" class="service-image">
          </label>
      </div>
    </div>

  <div class="form-group">
    <label for="amount">How much airtime in GHS would you like to buy?</label>
    <select ng-model="details.amountGhs" ng-change="calculatePricing()" class="form-control">
      <option value="1">GH&#8373; 1</option>
      <option value="2">GH&#8373; 2</option>
      <option value="5">GH&#8373; 5</option>
      <option value="10">GH&#8373; 10</option>
      <option value="15">GH&#8373; 15</option>
      <option value="20">GH&#8373; 20</option>
      <option value="30">GH&#8373; 30</option>
      <option value="50">GH&#8373; 50</option>
    </select>
  </div>

  <div class="row text-center" ng-show="details.amountGhs > 0">
    <div class="col-md-3">
      <strong>Base Cost</strong><br>
      $ {{ details.amountUsd }}
    </div>
    <div class="col-md-1">
      <strong>&nbsp;</strong><br>
      +
    </div>
    <div class="col-md-3">
      <strong>Service Fee</strong><br>
      $ {{ details.serviceFee }}
    </div>
    <div class="col-md-1">
      <strong>&nbsp;</strong><br>
      =
    </div>
    <div class="col-md-3">
      <strong>Total Cost</strong><br>
      $ {{ details.chargeUsd }}
    </div>
  </div>
  <br>

  <div class="form-group">
      <div class="service-button">
        <input type="submit" class="btn btn-success form-control">
      </div>
  </div>
  <div class="row" ng-if="pricing.freeTransactionNo > 0">
    <div class="col-xs-12">
      <p class="text-muted">*This transaction is free of any service charges.</p>
    </div>
  </div>
  </div>
</form>
