<div class="container-fluid">
  <div class="row" ng-show="pricing">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <form class="form" ng-submit="setDetails()">
        <div class="transaction-control">           

        <div class="form-group">
          Select your recipient's network <br>
            <div class="radio">
                <label>
                   <input type="radio" ng-model="details.network" value="MTN" checked>
                   <img src="apps/airtime/images/mtn.png" class="service-image">
                </label>
            </div>
            <div class="radio">
                <label>
                   <input type="radio" ng-model="details.network" value="VOD">
                   <img src="apps/airtime/images/vodafone.png" class="service-image">
                </label>
            </div>
            <div class="radio">
                <label>
                   <input type="radio" ng-model="details.network" value="TIG">
                   <img src="apps/airtime/images/tigo.png" class="service-image">
                </label>
            </div>
            <div class="radio">
                <label>
                   <input type="radio" ng-model="details.network" value="AIR">
                   <img src="apps/airtime/images/airtel.png" class="service-image">
                </label>
            </div>
          </div>

        <div class="form-group">
          <label for="amount">How much airtime in GHS would you like to buy?</label>
          <input type="number" class="form-control" placeholder="Eg. 350 GHS" ng-model="details.amountGhs" ng-change="calculatePricing()">
        </div>

        <div class="row text-center" ng-show="details.serviceFee > 0">
          <div class="col-md-3">
            <strong>Base Cost</strong><br>
            $ {{ details.amountUsd }}
          </div>
          <div class="col-md-1">
            <strong>&nbsp;</strong><br>
            +
          </div>
          <div class="col-md-3">
            <strong>Service Fee</strong><br>
            $ {{ details.serviceFee }}
          </div>
          <div class="col-md-1">
            <strong>&nbsp;</strong><br>
            =
          </div>
          <div class="col-md-3">
            <strong>Total Cost</strong><br>
            $ {{ details.chargeUsd }}
          </div>
        </div>
        <br><br>

        <div class="form-group">
            <div class="service-button">
              <input type="submit" class="btn btn-success form-control">
            </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
