<div class="tmodal text-center" id="success-modal">
<div class="container-fluid">

	<img src="apps/common/images/logo/logogreen.png" alt="Beam Logo - Green on White"></a>
	<h3>Thanks for using BeamPay</h3>

	<p>Your payment has been successful. You will hear from us once the airtime has been transferred. <br><br><br>
  The reference number for this request is <strong>{{referenceNumber}}</strong>. <br><br> Click below to see the details</p>


	<button class="btn btn-success" ng-click="cancel()">See transaction</button>

</div>
</div>
