<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <form class="form" ng-submit="setDetails()">

        <div class="form-group">
          <label for="giftType">Select the gift type you would like to send</label>
          <select name="giftType" ng-model="details.giftType" class="form-control">
            <option value="CAKE">Cake</option>
            <option value="FLOW">Flowers</option>
            <option value="BASK">Gift Basket</option>
            <option value="MISC">Something else</option>
          </select>
        </div>

        <div class="form-group">
          <label for="address">Delivery Address</label>
          <input type="text" class="form-control" ng-model="details.deliveryAddress">
        </div>

        <div class="form-group">
          <label for="address">Date and time of delivery: <strong>{{details.deliveryDate | amCalendar}} <span class="" ng-show="dateSet"><a href="" ng-click="dateSet = false">Change</a></span></strong></label>
          <datetimepicker data-ng-model="details.deliveryDate" ng-hide="dateSet" data-on-set-time="dateSet = true" data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
        </div>

        <div class="form-group">
          <label for="contact">How should we keep you updated? </label><br>

          <label class="checkbox-inline">
            <input type="radio" ng-model="details.preferredContactMethod" value="PHON"> Phone
          </label>

          <label class="checkbox-inline">
            <input type="radio" ng-model="details.preferredContactMethod" value="SMS"> SMS
          </label>

          <label class="checkbox-inline">
            <input type="radio" ng-model="details.preferredContactMethod" value="WAP"> WhatsApp
          </label>

          <label class="checkbox-inline">
            <input type="radio" ng-model="details.preferredContactMethod" value="MAIL"> Email
          </label>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <input type="submit" class="btn btn-success form-control" value="Next">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
