<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <form class="form" ng-submit="setDetails()">

        <div class="form-group">
          <label for="giftType">Select the gift type you would like to send</label>
          <select name="giftType" ng-model="details.giftType" class="form-control">
            <option value="">-- Gift type --</option>
            <option value="CAKE">Cake</option>
            <option value="FLOW">Flowers</option>
            <option value="BASK">Gift Basket</option>
            <option value="MISC">Something else</option>
          </select>
        </div>

        <div class="form-group"  ng-if="details.giftType === 'MISC'">
          <label for="address">What would you want us to do?</label>
          <input type="text" class="form-control" ng-model="details.additionalInfo">
        </div>

        <div class="form-group">
          <label for="address">Delivery Address <span class="small text-muted">(optional)</span></label>
          <input type="text" class="form-control" ng-model="details.deliveryAddress" placeholder="Eg. 48 Riverplate Street, East Legon">
        </div>

        <div class="form-group">
          <label for="address">Date and time of delivery <span class="small text-muted">(optional)</span>: <strong>{{details.deliveryTime | amCalendar}} <span class="" ng-show="dateSet"><a href="" ng-click="dateSet = false">Change</a></span></strong></label>
          <datetimepicker data-ng-model="details.deliveryTime" ng-hide="dateSet" data-on-set-time="dateSet = true" data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
        </div>

        <div class="form-group">
          <label for="contact">How should we keep you updated? </label><br>

          <div class="radio">
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <input type="radio" ng-model="details.preferredContactMethod" value="WAP" id="contact-whatsapp">
                  <label class="checkbox-inline" for="contact-whatsapp"> WhatsApp </label>
                </div>

                <div class="col-sm-6 col-md-3">
                  <input type="radio" ng-model="details.preferredContactMethod" value="PHON" id="contact-phone">
                  <label class="checkbox-inline" for="contact-phone"> Phone </label>
                </div>

                <div class="col-sm-6 col-md-3">
                  <input type="radio" ng-model="details.preferredContactMethod" value="SMS" id="contact-sms">
                  <label class="checkbox-inline" for="contact-sms"> SMS </label>
                </div>

                <div class="col-sm-6 col-md-3">
                  <input type="radio" ng-model="details.preferredContactMethod" value="MAIL" id="contact-email">
                  <label class="checkbox-inline" for="contact-email"> Email </label>
                </div>
              </div>
              <br>
          </div>

          <div class="row">
            <div class="col-xs-2">
              <label for="contact">Contact:</label>
            </div>
            <div class="col-xs-10">
              <input type="text" class="form-control" placeholder="+233265086508" disabled id="contact">
            </div>
          </div>

        </div>

        <div class="form-group hidden" ng-if="details.giftType !== 'MISC'">
          <label for="additionalInfo">Anything else we should know? <span class="small text-muted">(optional)</span></label>
          <textarea name="additionalInfo" id="" cols="30" rows="5" placeholder="Eg. Make the flowers tulips" ng-model="details.additionalInfo" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <div class="service-button">
              <input type="submit" class="btn btn-success form-control" value="Next">
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
