<div class="container-fluid">
<div class="row" >
  <div class="col-sm-6 col-md-6 col-lg-6">
     <form class="form" ng-submit="makeTransaction()">

      <div class="form-group">
        <label for="name">Name of recipient</label>
        <div class="row">
          <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="First Name" ng-model="details.recipient.firstName" required>
          </div>
          <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="Last Name" ng-model="details.recipient.lastName" required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="contact">Recipient Contact Number </label>
        <input type="text" class="form-control" placeholder="Eg. +23327615596" ng-model="details.recipient.phoneNumber" required>
      </div>

      <div class="form-group">
        <label for="email">Email address of recipient <span class="small text-muted">(optional)</span></label>
        <input type="email" class="form-control" placeholder="Eg. friend@email.com" ng-model="details.recipient.email">
      </div>

      <div class="form-group">
          <div class="service-button">
            <input type="submit" class="btn btn-success form-control">
          </div>
      </div>
    </form>
  </div>
</div>
</div>
