<div class="hiw">
  <div class="container">
    <div class="row heading">
      <h1>How Beam works</h1>
    </div>
    <div class="row">
      <div class="col-md-4 step">
        <div class="circle">
          <img id="pointer" src="/images/hiw/pointer.png" alt="Select Image">
        </div>
        <div class="text">
          <h3>STEP 1: Choose</h3>
          <h4>Select a service you want to pay for on behalf of a loved one in Ghana</h4>
        </div>
      </div>
      <div class="col-md-4 step">
        <div class="circle">
          <img id="cc" src="/images/hiw/cc.png" alt="Credit Card Image">
        </div>
        <div class="text">
          <h3>STEP 2: Pay</h3>
          <h4>Pay for it in seconds with a debit or credit card</h4>
        </div>
      </div>
      <div class="col-md-4 step">
        <div class="circle">
          <img id="receipt" src="/images/hiw/receipt.png" alt="Receipt Image">
        </div>
        <div class="text">
          <h3>STEP 3: Confirm</h3>
          <h4>Beam pays for the service on your behalf and sends proof of payment</h4>
        </div>
      </div>
    </div>

    <hr>
  </div>
</div>
