<div class="landing-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img id="logo" src="/images/logo/logo.png" alt="Beam Logo - White on Transparent">
        <h1>To Ghana, with love.</h1>
        <h3>Care for loved ones in Ghana, quickly and affordably.</h3>
        <form action="//beamremit.us9.list-manage.com/subscribe/post?u=abd46db3e3c87de7598b5e8e9&amp;id=81b7fd0b2b" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        	<input type="email" value="" name="EMAIL" class="form-control" placeholder="Email">
          <input type="submit" value="Get notified when we launch" name="subscribe">
        </form>
      </div>
      <div class="col-md-6 hidden-sm hidden-xs">
        <div class="call-us">
          Call us: +233 (0)50 939 2087
        </div>
        <img id="hero" src="/images/hero.png" alt="Hero Family Image">
      </div>
    </div>
  </div>
</div>
