<div class="notify">
  <div class="container">
    <h1>Know someone who would find Beam useful?</h1>
    <h3>Please tell them via:</h3>
    <div class="row">
      <div class="col-md-4" ng-controller="EmailModalCtrl">
        <a ng-click="open()">Email</a>
      </div>
      <div class="col-md-4">
        <a href="https://www.facebook.com/dialog/feed?app_id=1616896835221884&link=http://beampay.co&picture=http://beampay.co/images/facebook/share.png&name=Beam%20-%20Care%20for%20loved%20ones%20in%20Ghana%20quickly%20and%20affordably&caption=beampay.co&description=Care%20for%20loved%20ones%20in%20Ghana%20by%20paying%20directly%20for%20school%20fees%2C%20hospital%20bills%2C%20phone%20airtime%20credit%2C%20and%20much%20more.&redirect_uri=http://beampay.co/fbRedirect.html" target="_blank">Facebook</a>
      </div>
      <div class="col-md-4">
        <a href="https://twitter.com/home?status=Beam%20helps%20Ghanaians%20abroad%20care%20for%20loved%20ones%20back%20home,%20quickly%20and%20affordably.%20Find%20out%20how:%20http://beampay.co/" target="_blank">Twitter</a>
      </div>
    </div>
    <hr>
    <h1>Launching March 2015</h1>
    <a href="http://eepurl.com/beOitX" target="_blank">Get notified when we launch</a>
  </div>
</div>
