<div class="notify">
  <div class="container">
    <div class="share">
      <h1>Know someone who would find Beam useful?</h1>
      <h3>Please tell them via:</h3>
      <div class="row">
        <div class="col-md-4">
          <a href="https://twitter.com/home?status=Beam%20helps%20Ghanaians%20in%20the%20diaspora%20support%20loved%20ones%20back%20home.%20Take%20a%20look:%20http://beampay.co" target="_blank">Twitter</a>
        </div>
        <div class="col-md-4">
          <a href="https://www.facebook.com/dialog/feed?app_id=1616896835221884&link=http://beampay.co&picture=http://beampay.co/images/facebook/share.png&name=Beam&caption=beampay.co&description=Beam%20-%20Care%20for%20loved%20ones%20in%20Ghana%20quickly%20and%20affordably&redirect_uri=http://beampay.co/fbRedirect.html" target="_blank">Facebook</a>
        </div>
        <div class="col-md-4">
          <a href="mailto:?&subject=Take a look at Beam&body=Beam%20helps%20Ghanaians%20in%20the%20diaspora%20care%20for%20loved%20ones%20back%20home%20with%20direct%20payments%20for%20services%20such%20as%20school%20fees%20and%20hospital%20bills.%0A%0ATake%20a%20look:%20http://www.beampay.co">Email</a>
        </div>
      </div>
    </div>
  </div>
</div>
