<form class="form non-bill-form" ng-submit="setDetails()">

  <div class="form-group">
    <label for="additionalInfo">Describe what you'll like us to do</label>
    <textarea name="additionalInfo" id="" cols="30" rows="5" placeholder="Eg. Locate, purchase and transport a generator to my family" ng-model="details.description" class="form-control" required></textarea>
  </div>

  <div class="form-group">
    <label for="contact">How should we keep you updated? </label><br>

    <div class="radio">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <input type="radio" ng-model="details.preferredContactMethod" ng-value="whatsAppMethod" id="contact-whatsapp">
          <label class="checkbox-inline" for="contact-whatsapp"> WhatsApp </label>
        </div>

        <div class="col-sm-6 col-md-3">
          <input type="radio" ng-model="details.preferredContactMethod" ng-value="phoneMethod" id="contact-phone">
          <label class="checkbox-inline" for="contact-phone"> Phone Call </label>
        </div>

        <div class="col-sm-6 col-md-3">
          <input type="radio" ng-model="details.preferredContactMethod" ng-value="smsMethod" id="contact-sms">
          <label class="checkbox-inline" for="contact-sms"> SMS </label>
        </div>

        <div class="col-sm-6 col-md-3">
          <input type="radio" ng-model="details.preferredContactMethod" ng-value="emailMethod" id="contact-email">
          <label class="checkbox-inline" for="contact-email"> Email </label>
        </div>
      </div>
      <br>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <label for="contact">Contact:</label>
      </div>
      <div class="col-xs-10">
        <input type="text" class="form-control" placeholder="Enter your contact details" id="contact" ng-model="details.preferredContactDetails">
      </div>
    </div>

  </div>

  <div class="form-group">
    <div class="service-button">
        <input type="submit" class="btn btn-success form-control" value="Next">
    </div>
  </div>
</form>
