<footer>
  <div class="container">
    <div class="row row-space">
      <div class="col-md-2 section center-block">
        <img src="apps/common/images/logo/logo.png" alt="Beam Logo - White on Transparent">
        <h4>Care for loved ones in Ghana quickly and affordably.</h4>
      </div>

      <div class="col-md-2 section center-block">
        <h3>LINKS</h3>
        <ul>
          <li><a ui-sref="landing">Homepage</a></li>
          <li><a ui-sref="app.airtime">Transfer Airtime</a></li>
          <li><a ui-sref="app.gift">Send Gifts Home</a></li>
          <li><a ui-sref="app.internet">Buy Internet Bundles</a></li>
        </ul>
      </div>
      <div class="col-md-2 section center-block">
        <h3>ABOUT</h3>
        <ul>
          <li><a ui-sref="about">The Company</a></li>
          <li><a ui-sref="hiw">How Beam Works</a></li>
          <li><a hef="">Facebook</a></li>
          <li><a href="">Twitter</a></li>
        </ul>
      </div>

      <div class="col-md-2 section center-block">
        <h3>PRESS PACK</h3>
        <ul>
          <li><a href="https://www.dropbox.com/sh/ijgk8rbjmmhwwqm/AACVZ4A7bst4DdasZVWbyoy9a?dl=0" target="_blank">Logos</a></li>
          <li><a ui-sref="">Team</a></li>
          <li><a ui-sref="">Company</a></li>
        </ul>
      </div>
      <div class="col-md-2 section center-block">
        <h3>CONTACT</h3>
        <ul>
          <li><a href="mailto:hello@beampay.co">hello@beampay.co</a></li>
          <li><a href="tel:+14158710438">+1 (415) 871 0438</a></li>
          <li><a href="tel:+233509392087">+233 (0)50 939 2087</a></li>
        </ul>
      </div>
      <!--
      <div class="col-md-3 section">
        <h3>SAY HELLO</h3>
        <ul>
          <li><a href="https://facebook.com/BeamRemit" target="_blank">Beam on Facebook</a></li>
          <li><a href="https://twitter.com/BeamRemit" target="_blank">Beam on Twitter</a></li>
        </ul>
      </div>
      -->
    </div>
    <div class="row text-center copyright">
      <h4>Copyright &#169; 2015 Beam Pay. All rights reserved.</h4>
    </div>
  </div>
</footer>
