<footer>
  <div class="container">
    <div class="row row-space">
      <div class="col-md-3 section center-block">
        <img src="apps/common/images/logo/logo.png" alt="Beam Logo - White on Transparent">
        <h4>Care for loved ones in Ghana quickly and affordably.</h4>
      </div>

      <div class="col-md-3 section center-block">
        <h4>LINKS</h4>
        <ul>
          <li><a ui-sref="landing">Homepage</a></li>
          <li><a ui-sref="app.airtime">Transfer Airtime to Ghana</a></li>
          <li><a ui-sref="app.gift">Send Gifts Home to Ghana</a></li>
        </ul>
      </div>
      <div class="col-md-3 section center-block">
        <h4>ABOUT</h4>
        <ul>
          <li><a ui-sref="about">The Company</a></li>
          <li><i class="fa fa-envelope-o"></i>&nbsp;  hello@beampay.co</li>
          <li><i class="fa fa-skype"></i>&nbsp;fbenke0410</a></li>
        </ul>
      </div>

      <div class="col-md-3 section center-block">
        <h4>CONTACT US</h4>
        <ul>
          <li><i class="fa fa-whatsapp"></i>&nbsp; +233 (0)245 025 019</li>
          <li><i class="lnr lnr-phone-handset"></i>&nbsp;+1 (415) 871 0438 </li>
          <li>SMS:&nbsp;+1 (415) 881 4216</li>
            </ul>
          </div>

          <div class="row copyright">
            <div class="col-xs-12 text-center">
              <h6>Copyright &#169; 2015 Beam Pay. All rights reserved.</h6>
            </div>
          </div>
        </div>
      </footer>
