<div class="header">
  <div class="container" ng-controller="HeaderCtrl">
    <div class="row">
      <div class="col-md-6">
        <a href="/#/"><img id="logo" src="apps/common/images/logo/logo.png" alt="Beam Logo - White on Transparent"></a>
      </div>
      <div class="col-md-5 col-offset-md-1 hidden-sm hidden-xs section">
        <ul>
          <li ng-if="!loggedin"><a href="" ng-click="signin()">Login</a></li>
          <li ng-if="!loggedin"><a href="" ng-click="signup()">Signup</a></li>
          <li ng-if="loggedin && !logoutInProgress"><a href="" ng-click="logout();">Logout</a></li>
          <li ng-if="loggedin && logoutInProgress"><a>Logging out...</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
