.hiw-head {
  background-color: $green;
  color: $white;
  padding: 40px 0px;
  font-family: 'bariol';
  text-align: center;

  
.text{
    h4{
       font-family:'freestyle-script';
    }
   }
  

  
  .submit{
    button{
     padding: 5px 40px 5px 40px;
     background-color: #fe960b;
     color: #FFFFFF;
     border-color: #fe960b;
     border-radius:5px;
     margin-top: 10px;
     font-size: 17px;
     font-weight: bold;
     -webkit-box-shadow: 0px 3px 0px #636a11;
      -moz-box-shadow: 0px 3px 0px #636a11;
       box-shadow: 0px 3px 0px #636a11;
    }
  }
}
