<section class="services">
  <div class="row" ng-controller="SchoolCtrl">
    <div class="container-fluid">
      <h3 class="transaction-h4">Pay for School Fees</h3>
      <h3>Education changes not just the mind, but your ward's life</h3>

      <div class="page-header text-center">
        <div id="status-buttons" class="text-center" ng-hide="paymentComplete">
          <div class="row">
            <div class="col-xs-4"><a ng-class="{active: detailsState}" ui-sref="app.school.details" class="col-xs-4"><span>1</span> Details about ward</a></div>
            <div class="col-xs-4"><a href="" ng-class="{active: contactState}" ng-click="setDetails()" class="col-xs-4"><span>2</span> Contact Mode</a></div>
            <div class="col-xs-4"><a href="" ng-class="{active: recipientState}" ng-click="setMethod()" class="col-xs-4"><span>3</span> Send Request</a></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-6">
          <div class="errors" role="alert" ng-show="errors.length">
            <p>Error(s):</p>
            <ul>
              <li ng-repeat="error in errors">
                {{ error }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-5 sla">
            <div class="row sla-title">
              <p>How to pay school fees through Beam </p>
            </div>
            <hr>
            <div class="row sla-layer">
              <div class="col-sm-12 text-left">
                Beam allows you to easily settle school fees for your ward by simply sending us a few details.</div>
            </div>
            <div class="row sla-layer">
              <div class="col-sm-1">
                <span class="lnr lnr-sync"></span>
              </div>
              <div class="col-sm-11 text-justify">We will review your request and let you know when we can fulfil it.</div>
            </div>
            <div class="row sla-layer">
              <div class="col-sm-1">
                <span class="lnr lnr-graduation-hat"></span>
              </div>
              <div class="col-sm-11 text-justify">We currently serve schools in Accra &amp; Tema only. Other locations are coming soon.</div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-6">
            <div ui-view=""></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
