.about-contact {
  background-color: $green;
  color: $white;

  .container {
    padding: 50px;

    .content{
    padding:40px 5px 20px 40px;

    .lnr{
      color:$green;
      font-size: 25px;
    }
    span{
      font-size: 16px;
      font-weight: 700;
    }
    .details{
      font-weight: 400;
      font-size: 20px;
      a{
        text-decoration: none;
        color: $white;
      }
    }
    .service-pt{
      padding-bottom: 25px;
      padding-top: 15px
    }
  }

    .block {
      margin-top: 30px;
      padding: 20px;
      background-color: $green - 10;
      border-radius: 5px;

      h3 {
        font-weight: 200;
        max-width: 650px;
        margin: 0 auto;
        line-height: 40px;
        padding-bottom: 25px;
      }

      p {
        padding: 10px 0px;

        .email {
          color: $white;
          text-decoration: underline;

          &:hover {
            color: $white;
          }

        }

        .media {
          @include black-button();
        }
      }

    }
  }
}
