 <!-- Dashboard Footer -->
 <section class="dashboard-footer">
 	<div class="container-fluid">
 		<div class="row">
 			<div class="copyright pull-left col-sm-4 col-md-4 col-xs-6">
 				BeamPay Inc    |    Copyright 2015
 			</div>

 			<div class="payment-cards col-sm-4 col-md-4 col-xs-6">
 			<p class="small-text text-center">Payment options on Beam</p>
 			<div class="row">
 				<div class="col-md-3 col-xs-6">
 					<img src="apps/transaction/images/PEPSized_Mastercard.png">
 				</div>
 				<div class="col-md-3 col-xs-6">
 					<img src="apps/transaction/images/PEPSized_PayByCreditCard.png">
 				</div>
 				<div class="col-md-3 col-xs-6">
 					<img src="apps/transaction/images/PEPSized_PayPal.png">
 				</div>
 				<div class="col-md-3 col-xs-6">
 					<img src="apps/transaction/images/PEPSized_Visa.png">
 				</div>
 			</div>
 			</div>

 			<div class="help pull-right col-sm-4 col-md-4 hidden-xs">
 				<a href="#/"><span class="lnr lnr-question-circle"></span>Help</a>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- End Dashboard Footer  -->
