<section class="services" ng-controller="HomeCtrl">
<div class="container-fluid service-wrapper">
	<h4>Hello Kwale!</h4>
	<h5>Support a loved one by paying for one of the following options</h5>

	<div class="service-card col-md-3">
  		<div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
      <h6 class="card__title"><span class="lnr lnr-heart"></span>Gift Package</h6>
  		<div class="card__action-bar">
  			<!-- <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div> -->
  		</div>
	</div>

	<div class="service-card col-md-3">
  		<div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
      <h6 class="card__title"><span class="lnr lnr-highlight"></span>School Fees</h6>
  		<div class="card__action-bar">
  			<!-- <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div> -->
  		</div>
	</div>

	<div class="service-card col-md-3">
  		<div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
      <h6 class="card__title"><span class="lnr lnr-calendar-full"></span>Utility Bills</h6>
  		<div class="card__action-bar">
  			<!-- <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div> -->
  		</div>
	</div>

	<div class="service-card col-md-3">
  		<div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
      <h6 class="card__title"><span class="lnr lnr-smartphone"></span>Airtime Topups</h6>
  		<div class="card__action-bar">
  			<!-- <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div> -->
  		</div>
	</div>


	<div class="service-card col-md-3">
  		<div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
      <h6 class="card__title"><span class="lnr lnr-cloud-upload"></span>Internet Access</h6>
  		<div class="card__action-bar">
  			<!-- <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div> -->
  		</div>
	</div>

	<div class="service-card col-md-3">
  		<div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
      <h6 class="card__title"><span class="lnr lnr-screen"></span>Cable TV</h6>
  		<div class="card__action-bar">
  			<!-- <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div> -->
  		</div>
	</div>

	<!-- Cards-->
<!-- <div class="service-card col-md-3">
  <div style="background-image: url(http://i.imgur.com/8ki2fuE.jpg)" class="card__image"></div>
  <h2 class="card__title">Kangaroo Valley Safari</h2><span class="card__subtitle">By Mattia Astorino</span>
  <p class="card__text">Located two hours south of Sydney in the Southern Highland of New South Wales...</p>
  <div class="card__action-bar">
  <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
  </div>
</div> -->

</div>

<div>
	<p>Yike</p>
	<p>User ID: {{ currentUser.userid }}</p>
	<p>Token: {{ currentUser.token }}</p>

  <p>
    <a ui-sref="settings">Settings</a>
  </p>
  <p ng-controller="SignoutCtrl">
    <a ng-click="signout()" href="">Signout</a>
  </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
</section>



