 <!-- Sidebar -->
 <div id="sidebar-wrapper" role='navigation' class="hidden-xs">
  <ul class="sidebar text-center">
    <li class="sidebar-list">
      <a ui-sref="app"><span class="sidebar-icon lnr lnr-gift"></span>Send Support</a>
    </li>
    <li class="sidebar-list">
      <a href="#/"><span class="sidebar-icon lnr lnr-rocket"></span>Beam Valet </a>
    </li>
    <!-- <li class="sidebar-list">
      <a href="#/"><span class="sidebar-icon fa fa-table"></span>Address Book </a>
    </li> -->
    <li class="sidebar-list">
      <a href="#"><span class="sidebar-icon lnr lnr-layers"></span>Transactions </a>
    </li>
  </ul>

 </div>
 <!-- End Sidebar -->
