 <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-list">
        	<span class="menu-icon fa fa-tachometer"></span>
        	<a href="#">Send Support</a>
        </li>
        <li class="sidebar-list">
        	<span class="menu-icon fa fa-table"></span>
        	<a href="#/">Beam Valet </a>
        </li>
         <li class="sidebar-list">
         	<span class="menu-icon fa fa-table"></span>
         	<a href="#/">Address Book </a>
        </li>
         <li class="sidebar-list">
         	<span class="menu-icon fa fa-table"></span>
         	<a href="#">Transactions </a>
        </li>
      </ul>
      
    </div>
    <!-- End Sidebar -->