 <!-- Sidebar -->
    <div id="sidebar-wrapper" role='navigation'>
      <ul class="sidebar">
        <li class="sidebar-list">
        	<a href="#"><span class="sidebar-icon fa fa-table"></span>Send Support</a>
        </li>
        <li class="sidebar-list">
        	<a href="#/"><span class="sidebar-icon fa fa-table"></span>Beam Valet </a>
        </li>
         <li class="sidebar-list">
         	<a href="#/"><span class="sidebar-icon fa fa-table"></span>Address Book </a>
        </li>
         <li class="sidebar-list">
         	<a href="#"><span class="sidebar-icon fa fa-table"></span>Transactions </a>
        </li>
      </ul>
      
    </div>
    <!-- End Sidebar -->