<form class="form" ng-submit="setDetails()">
  <div class="transaction-control">
  <div class="form-group">
    Which service provider would you like to pay for?<br>
      <div class="radio">
          <label>
             <input type="radio" ng-model="details.billType" value="SRF" checked>
             <img src="apps/internet/images/surfline-logo.png" class="service-image">
          </label>
      </div>
      <div class="radio">
          <label>
             <input type="radio" ng-model="details.billType" value="VOB">
             <img src="apps/internet/images/vodafone-logo.png" class="service-image">
          </label>
      </div>
    </div>

  <div class="form-group">
    <label for="accountNumber">Account number <span class="small text-muted">(optional)</span></label>
    <input ng-model="details.accountNumber" type="number" class="form-control" placeholder="Eg. 314491300123">
  </div>

  <div class="form-group">
    <label for="amount">How much in GHS would you like to pay?</label>
    <input type="number" class="form-control" placeholder="Eg. 350 GHS" ng-model="details.amountGhs" ng-change="calculatePricing()" required min="10" max="1000">
  </div>

  <div class="row text-center" ng-show="details.amountGhs > 0">
    <div class="col-md-3">
      <strong>Base Cost</strong><br>
      $ {{ details.amountUsd }}
    </div>
    <div class="col-md-1">
      <strong>&nbsp;</strong><br>
      +
    </div>
    <div class="col-md-3">
      <strong>Service Fee</strong><br>
      $ {{ details.serviceFee }}
    </div>
    <div class="col-md-1">
      <strong>&nbsp;</strong><br>
      =
    </div>
    <div class="col-md-3">
      <strong>Total Cost</strong><br>
      $ {{ details.chargeUsd }}
    </div>
  </div>
  <br><br>

  <div class="form-group">
      <div class="service-button">
        <input type="submit" class="btn btn-success form-control">
      </div>
  </div>
  </div>
</form>
