<div class="container-fluid">
  <div class="row">
    <p><strong>You're about to pay for</strong></p>
    <div class="row">
      <div class="col-xs-4">
        <img ng-show="details.billType == 'SRF'" src="apps/internet/images/surfline-logo.png" alt="" class="final-service-image">
        <img ng-show="details.billType == 'VOB'" src="apps/internet/images/vodafone-logo.png" alt="" class="final-service-image">
      </div>
      <div class="col-xs-6">
        <h5>DESCRIPTION</h5>
        <p>GHS {{details.amountGhs}} {{getProvider()}} bill for {{details.recipient.firstName}} {{details.recipient.lastName}}</p>
        <h5>FINAL BILL</h5>
        <p class="final-bill">$ {{details.chargeUsd}}</p>
      </div>
      
    </div>
  </div>
  <div class="service-button">
      <button class="btn btn-success form-control" ng-click="confirm()">Pay</button>
  </div>
</div>
