<div class="tmodal text-center" id="referral-modal">
<div class="container-fluid">
  <br><br>
	<img src="apps/common/images/logo/logogreen.png" alt="Beam Logo - Green on White"></a>
	<h3>Share this code</h3>

  <h1><strong>{{referral.code}}</strong></h1>

  <h3>or this link</h3>

  <p>https://www.beampay.co/#!/signup?referralKey={{referral.code}}</p>
  <div class="row text-center">
    <a href="https://www.facebook.com/dialog/feed?app_id={{appId}}&link=https://www.beampay.co/signup/?refCode={{referral.code}}&picture={{baseUrl}}apps/common/images/facebook/share.png&name=Beam%20-%20Care%20for%20loved%20ones%20in%20Ghana%20quickly%20and%20affordably&caption=beampay.co&description=Click%20here%20to%20signup%2C%20and%20get%20a%20transaction%20free%20of%20service%20charge&redirect_uri={{baseUrl}}fbRedirect.html" target="_blank" class="btn btn-fb"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/home?status=Beam%20helps%20Ghanaians%20abroad%20care%20for%20loved%20ones%20back%20home,%20quickly%20and%20affordably.%20Find%20out%20how:%20https://beampay.co/signup/?refCode={{referral.code}}" target="_blank" class="btn btn-tw"><i class="fa fa-twitter"></i></a>
  </div>

  <br><br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>Anyone who signs up with this referral gets one transaction free of service charges. And for any four signups, you get one transaction free of service charges.</p>
    </div>
  </div>


  <div class="row">
    <button class="btn btn-success" ng-click="cancel()">Close</button>
  </div>

</div>
</div>
