.container-fluid{
  padding-right: 0px !important;
}

.services { 
  max-width: 100%; 
}
@media (min-width: 481px) {
  .services {
    z-index: 10; 
    margin-left: 0px !important;
    margin-top: 5px !important;

  }
}

.service-wrapper{
  background-color: #fff; 
  border-left: 6px solid #F8F8F8;
  border-top: 6px solid #F8F8F8;
}

.services h4 {
  color: #6EAB3A;
  font-weight: 400;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 24px;
}

.services h5 {
  font-weight: 400;
  margin: 0 auto;
  line-height: 30px;
  padding-bottom: 15px;
  font-size: 20px;
}

.service-card{
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  position: relative;
  border-radius: 2px; 
  border: 1px solid #EFEFEF;
  height: 304px;
  min-height: 304px;

}

.service-card:hover, .__active {
  cursor: pointer;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  transition: all linear 200ms;
}
.card__image {
  position: absolute; 
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  opacity: 0;
}


.__green{
    background-color: #6EAB3A; 
}

.__blue{
    background-color: #5180C1; 
}

.__yellow{
    background-color: #D8D226; 
}

.__pink{
    background-color: #F71885; 
}

.__gray{
    background-color: #A0A0A0; 
}

.__purple{
    background-color: #C234F7; 
}


.card__title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 100px;
  color: #FFF; 
  left: 0;
  word-wrap: break-word;  
}
.card__subtitle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 16px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
  left: 88px;
  right: 0;
  top: 45px;
  position: absolute;
  padding: 0 16px;
  opacity: 0; 
}
.card__text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 16px;
  display: block;
  left: 0;
  right: 0;
  top: 100px;
  padding: 16px;
  margin: 0;
  line-height: 1.6;
  position: absolute;
  color: #000;
  overflow: hidden; 
}
.card__action-bar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: 0;
  top: auto; 
  padding: 8px;  
}

.service-card .card__image {
  border-radius: 1px 1px 0 0;
  left: 0; 
  top: 0;
  opacity: 1;
  max-height: 220px;
  border: 2px solid #FFF;
}
.service-card .card__title {
  top: 170px;
}
.service-card h6 {
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 20px;  
  position: absolute;
  padding-left: 4.5em;
}

.service-card .lnr{ 
  position: absolute;
  left: 80px;
  top: 60px;
  color: #FFF;
   font-size: 90px !important;
  font-weight: 400 !important;
}

.service-card .card__text {
  top: 176px;
  text-align: justify;
}
.service-card .card__action-bar {
  left: 0;
}
.service-card .card__action-bar p {
  color: black;
  font-size: 14px;
  padding-top: 5px;
}

.transaction-h4 {
  color: #7dc242;
  margin-bottom: 15px;
}

.service-image {
  height: 5em;
  // opacity: 0.8;
}
