.services {
  position: relative;
  // padding: 1.5rem 1.5rem 1.5rem 1rem;
  z-index: 10;
  transition: margin 200ms;
  min-height: 100%;
  max-width: 100%;
}
@media (min-width: 481px) {
  .services {
    /*margin-left: 2rem;*/
    z-index: 10;
  }
}

.service-wrapper{
  padding: 40px;
  background-color: #fff;

}

.services h4 {
  color: #6EAB3A;
  font-weight: 400;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.services h5 {
  font-weight: 400;
  margin: 0 auto;
  line-height: 30px;
  padding-bottom: 15px;
}

.service-card{
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  position: relative;
  border-radius: 2px;
  height: 60%;
  border: 1px solid #eee;
  /*box-shadow:;*/

}

.service-card:hover {
  cursor: pointer;
}
.card__image {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  opacity: 0;
}

.card__title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 100px;
  color: #FFF;
  position: absolute;
  left: 0;
  word-wrap: break-word;
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
  -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__subtitle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
  left: 88px;
  right: 0;
  top: 45px;
  position: absolute;
  padding: 0 16px;
  opacity: 0;
  -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  display: block;
  left: 0;
  right: 0;
  top: 100px;
  padding: 16px;
  margin: 0;
  line-height: 1.6;
  position: absolute;
  color: #000;
  overflow: hidden;
  -webkit-transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: delay 0.1s;
          transition: delay 0.1s;
}
.card__action-bar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  padding: 8px;
  /*border-top: 1px solid #E0E0E0;*/
  box-sizing: border-box;
  /*height: 52px;*/
  -webkit-transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__button {
  outline: none;
  position: relative;
  display: inline-block;
  line-height: 52px;
  padding: 0 16px;
  color: #ff1744;
}
.service-card {
  /*box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);*/
  height: 304px;
  min-height: 304px;
}
.service-card .card__image {
  border-radius: 1px 1px 0 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  max-height: 220px;
}
.service-card .card__title {
  top: 170px;
}
.service-card h6 {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 20px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.service-card .lnr{
  padding-left: 20px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 500px;
}

.service-card .card__text {
  top: 176px;
}
.service-card .card__action-bar {
  left: 0;
}
.service-card .card__action-bar p {
  color: black;
  font-size: 12px;
  padding-top: 5px;
}
.widget-icon{
  background: #30426a;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
}

.widget-icon i {
  line-height: 66px;
  color: #fff;
  font-size: 30px;
  text-align: center;

}
