
.services {
  max-width: 100%;
}
@media (min-width: 481px) {
  .services {
    z-index: 10;
    margin-left: 0px !important;
    margin-top: 5px !important;

  }
}

.service-wrapper{
  background-color: $white;
  border-left: 6px solid $dark-white;
  border-top: 6px solid $dark-white;
}

.services h4 {
  color: $green;
  font-weight: 400;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 24px;
}

.services h5 {
  font-weight: 400;
  margin: 0 auto;
  line-height: 30px;
  padding-bottom: 15px;
  font-size: 20px;
}

.service-card{
  padding: 20px;
  margin: 20px;
  background-color: $white;
  position: relative;
  border-radius: 2px;
  border: 1px solid $gray-extra-light;
  height: 304px;
  min-height: 304px;

}

.service-card:hover, .__active {
  cursor: pointer;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  transition: all linear 200ms;
}

.service-card a:hover{
  text-decoration: none;
}
.card__image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  opacity: 0;
}


.__green{
    background-color: $green;
}

.__blue{
    background-color: $blue;
}

.__yellow{
    background-color: $yellow;
}

.__pink{
    background-color: $pink;
}

.__gray{
    background-color: $gray-light;
}

.__purple{
    background-color: $purple;
}


.card__title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 100px;
  color: #FFF;
  left: 0;
  word-wrap: break-word;
  font-weight: 900;
}
.card__subtitle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 16px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
  left: 88px;
  right: 0;
  top: 45px;
  position: absolute;
  padding: 0 16px;
  opacity: 0;
}
.card__text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 16px;
  display: block;
  left: 0;
  right: 0;
  top: 100px;
  padding: 16px;
  margin: 0;
  line-height: 1.6;
  position: absolute;
  color: #000;
  overflow: hidden;
}
.card__action-bar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 220px;
  padding: 10px;
}

.service-card .card__image {
  border-radius: 1px 1px 0 0;
  padding-top: 3em;
  left: 0;
  top: 0;
  opacity: 1;
  max-height: 220px;
  border: 2px solid $white;
}
.service-card .card__title {
  top: 150px;
}
.service-card h6 {
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 20px;
  position: relative;
}

.service-card .lnr{
  color: $white;
   font-size: 90px !important;
  font-weight: 400 !important;
}

.service-card .card__text {
  top: 176px;
  text-align: justify;
}
.service-card .card__action-bar {
  left: 0;
}
.service-card .card__action-bar p {
  color: $gray;
  font-size: 16px;
  padding-top: 5px;
}

.transaction-h4 {
  color: $green;
  margin-bottom: 15px;
}

.service-image {
  height: 4em;
  padding: 5px;
  border: 1px solid #aaa;
  // opacity: 0.8;
}

.service-image:active{
  transition: all linear 200ms;
}


/*Fix on the wizard*/
.page-header{
  border-bottom:0px !important;
  display: table;
  width: 100%;
  position: relative;
}

.page-header:before {
  top: 15px;
  left: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 70%;
  height: 1px;
  background-color: #ccc;
  z-index: 0;
}

/*Mobile fixes */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

.service-wrapper{
    .container-fluid {
      padding-left: 20px !important;
    }
  }

}


