.sidebar{
  padding-left: 0px;
  padding-right: 0px;
  min-height:100vh;
  border-right: 1px solid $gray-extra-light;
  background-color: #FFF;
}

#sidebar-wrapper {
  color: #000000;
  z-index: 50;
 }

#sidebar-wrapper ul{
  list-style-type: none;
  padding-left: 0px;
}

#sidebar-wrapper li {
  font-size: 17px;
  color: $gray-dark;
  line-height: 40px;
  font-weight: 400;
  border-bottom: 1px solid $gray-extra-light;
}

#sidebar-wrapper li a {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  text-align: left;
  padding: .75em  1.5em .75em 0;
  white-space: nowrap;
  background: transparent;
  outline: 0;
  color: $gray-dark;

}

#sidebar-wrapper a:hover, li:hover{
  color: $green;
  background: $dark-white;
}
.sidebar-icon {
  display: inline-block;
  font-size: 1.25em;
  text-align: center;
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 20px;
  margin-left: 10px;
}

.lnr {
  font-size: 15px;
}
