.sidebar{
  padding-left: 0;
}

#sidebar-wrapper {
  // padding-right: 1.5rem;
  margin-right: 1.5rem;
  color: #000000;
  z-index: 50;
  background-color: #fff;
  min-height: 100%;
}

#sidebar-wrapper ul{
  list-style-type: none;
}

#sidebar-wrapper li {
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}

#sidebar-wrapper li a {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  text-align: left;
  padding: .75em  1.5em .75em 0;
  white-space: nowrap;
  background: transparent;
  /*margin: 0;*/
  outline: 0;
  color: #aaa;

}

#sidebar-wrapper a:hover, li:hover{
  color: #6EAB3A;
  background: #EEEEEE;
}
.sidebar-icon {
  display: inline-block;
  font-size: 1.25em;
  text-align: center;
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 20px;
  margin-left: 10px;
}

.lnr {
  font-size: 20px;
}
