#sidebar-wrapper {
  padding: 0;
  padding-right: 30px;
  margin: 0;
  margin-left: -30px;
  color: #000000;
  z-index: 50;
  background-color: #fff;

  ul{
    /*text-indent: 0;*/
    list-style-type: none;
    // -webkit-margin-before: 0em !important;
    // -webkit-margin-after: 0em !important;
    // -webkit-margin-start: 0px !important;
    // -webkit-margin-end: 0px !important;
    // -webkit-padding-start: 0px !important;
  }

  li {
    font-size: 12px;
    line-height: 40px;
    font-weight: 600;

    a {
      box-sizing: border-box;
      display: block;
      text-decoration: none;
      white-space: nowrap;
      background: transparent;
      margin: auto;
      color: #aaa;
    }

  }

    a:hover{
    color: #6EAB3A;
    background: #EEEEEE;
  }

}

.sidebar-icon {
  display: inline-block;
  font-size: 1.25em;
  text-align: center;
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 20px;
  margin-left: 20px;
}
