.service-wrapper{
  .container-fluid{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  label {
    font-weight: normal;
    font-size: 1.2em;
  }

  .form-control {
    border-radius: 2px;
  }
}
