#status-buttons{
  a {
    color: $gray-light;
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  a:hover{
    text-decoration:none;
    color: $green;
  }

  /* active buttons turn light green-blue*/
  a.active span{
    background: $green;
    color: #FFF;
    font-weight: 600;
  }

  span{
    color: #FFF;
    background: $gray-light;
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
  }
}

.service-wrapper{
  .container-fluid{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  label {
    font-weight: normal;
    font-size: 1.2em;
  }

  .form-control {
    border-radius: 2px;
  }
}


.transaction-control{
    padding-right: 50px;
    padding-left: 50px;
    // padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    background-color: $white;
    font-size: 16px !important;
  }

.transaction-control h5 {
  font-size: 18px;
  font-weight: 500;
}

.transaction-list {
  padding-top: 20px;
}

.transaction-item {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  border-bottom: 1px solid $gray-extra-light;
}

.widget-icon{
  background: $green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
}

.widget-icon .lnr {
  line-height: 56px;
  color: $white;
  font-size: 24px;
  text-align: center;
}

.transaction-item p .lnr {
  line-height: 20px;
  font-size: 14px;
}

.transaction-item:hover {
  cursor: pointer;
}

.transaction-item a {
  text-decoration: none;
  color: $black !important;
}

.single{
  border: 0;
}

.transaction-comments {
  overflow-y: auto;
  max-height: 400px;
  border: 1px solid $gray-extra-light;
  border-radius: 2px;
  margin: 0;
  padding: 5px;
  padding-left: 50px;
  padding-bottom: 20px;
}

.clear {
  clear: both;
}

.comment-item .time{
  color: $gray-light;
}

.comment-item .user{
  color: $black-light;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $light-green;
  padding-top: 6px;
  padding-left: 9px;
  padding-right: 10px;
}

.comment-item .message {
  background-color: $extra-light-green;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
