<div class="landing-intro" ng-controller="HeaderCtrl">
  <div class="container">
    <div class="row">
      <div class="navbar">
        <a href="home" class="navbar-brand">
          <img src="apps/common/images/logo/logo.png" alt="Beam Logo - White on Transparent">
        </a>
        <ul class="nav navbar-right">
          <li>
            <h4 class="nav-link">
              About Beam
            </h4>
          </li>
          <li>
            <h4 class="nav-link">
              <span class="lnr lnr-phone-handset"></span>&nbsp; +1 (415) 871 0438
            </h4>
          </li>
          <li>
            <h4 class="nav-link-nb">
              <span class="lnr lnr-lock"></span>&nbsp;Login
            </h4>
          </li>
        </ul>
      </div> <!-- .navbar -->
    </div> <!-- .row -->

    <div class="row">
     <div class="col-sm-6 col-xs-12 call-to-action">
     <!-- <img id="heart" src="apps/general/images/heart.png" alt="hearts"> -->
      <h1><span class="header-font">To Ghana, with love!</span><span><img id="heart" src="apps/general/images/heart.png" alt="hearts"></span></h1>
      <h3>Send airtime, gifts & so much more for <br> family and friends back home - because you care</h3>
      <div class="submit">
        <button ng-if="!loggedin" type="submit" class="btn btn-lg" ng-click="signup()">SIGN UP FOR BEAM</button>
      </div>
      <div class="submit">
        <button ng-if="loggedin" type="submit" class="btn btn-lg" ng-click="dashboard()">GET STARTED NOW!</button>
      </div>
    </div>

    <div class="col-sm-6 hidden-xs">
     <img id="hero" class="img img-responsive" src="apps/general/images/hero.png" alt="Hero Family Image">
   </div>

 </div><!-- top-fold row -->

</div>
</div>
