<div class="landing-notify" ng-controller="NotifyCtrl">
  <div class="container">
<h3>Share the Beam story and get your friends involved</h3>
    <hr>
    <h4>Do you know anyone who would find this service useful?</h4>
    <h4>Please tell them via:</h4>
    <div class="row"> 
        <a class="btn btn-default" href="https://www.facebook.com/dialog/feed?app_id=1616896835221884&link=http://beampay.co&picture=http://beampay.co/apps/common/images/facebook/share.png&name=Beam%20-%20Care%20for%20loved%20ones%20in%20Ghana%20quickly%20and%20affordably&caption=beampay.co&description=Care%20for%20loved%20ones%20in%20Ghana%20by%20paying%20directly%20for%20school%20fees%2C%20hospital%20bills%2C%20phone%20airtime%20credit%2C%20and%20much%20more.&redirect_uri=http://beampay.co/fbRedirect.html" target="_blank" role="button"><i class="fa fa-facebook"></i> Facebook</a>
        <a class="btn btn-default" href="https://twitter.com/home?status=Beam%20helps%20Ghanaians%20abroad%20care%20for%20loved%20ones%20back%20home,%20quickly%20and%20affordably.%20Find%20out%20how:%20http://beampay.co/" target="_blank" role="button"><i class="fa fa-twitter"></i> Twitter</a> 
        <a class="btn btn-default" ng-click="open()"><i class="fa fa-envelope"></i>&nbsp;Email</a>      
    </div>
  </div>
</div>
