footer {
  background-color: $gray-dark;
  color: $white;
  padding-top: 50px;
  font-family: 'bariol';


  .col-md-2 {
    width: 19.666667%;
  }

  .section {
    font-size: 1.2em;

    img {
      height: 30px;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li{
        background-color: none;

        &:hover{
          background-color: transparent;
        }

      a {
        color: $green;

        &:hover {
          text-decoration: none;
          color: $white;
        }
      }
    }
    }
  }
  .copyright{
    h6{
      padding-top: 30px;
    }
  }
}
