footer {
  background-color: $gray-dark;
  color: $white;
  padding: 40px 0px;
  font-family: 'bariol';


  .col-md-2 {
    width: 19.666667%;
  }

  .section {
    font-size: 1.5em;

    img {
      height: 30px;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    h3 {
      margin-top: 0;
      padding-bottom: 10px;
    }

    h4 {
      // max-width: 250px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li{
        background-color: none;

        &:hover{
          background-color: transparent;
        }

      a {
        color: $green;

        &:hover {
          text-decoration: none;
          color: $white;
        }
      }
    }
    }
  }
  .copyright{
    h4{
      padding: 5px 0px 10px 0px;
    }
  }
}
