.navbar{
  height: 5em;
  background-color: #7DC242;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  background-color: #6EAB3A;
  height: 3.8em;
}

.navbar-brand img{
  height: 1.3em;
  margin-left: 2.65em;
  margin-right: 2.5em;
  margin-top: .2em;
}

.navbar-default .navbar-nav > li > a{
  color: white;
  padding-top: 1.5em;
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav > li > a{
    color: #777777;
  }
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a{
    color: white;
    padding-top: 1.5em;
    padding-bottom: 1.9em;
  }


  .navbar-default .navbar-nav > li > a:hover{
    color: #6EAB3A;
    background-color: white;
  }

  .navbar-default .navbar-nav > li > a:focus{
    color: #777777;
    background-color: white;
  }

  .navbar-default .navbar-nav > li.separator {
    color: #777777;
    padding-top: 1.5em;
    padding-bottom: 1.9em;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:visited,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #6EAB3A;
    background-color: white;
  }
}
