#loading-bar .bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  height: 4px;
}

#loading-bar-spinner .spinner-icon {
  width: 20px;
  height: 20px;

  border:  solid 4px transparent;
  border-top-color:  #fff;
  border-left-color: #fff;
  border-top-color:  rgba(255, 255, 255, 0.8);;
  border-left-color: rgba(255, 255, 255, 0.8);;
}

.navbar{
  background-color: #7DC242;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  background-color: #6EAB3A;
  height: 3.8em;
}

.navbar-brand img{
  height: 1.3em;
  margin-left: 2.85em;
  margin-right: 2.85em;
  margin-top: .2em;
}

.navbar-default .navbar-nav > li > a{
  color: white;
  padding-top: 1.5em;
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav > li > a{
    color: #777777;
  }
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a{
    color: white;
    padding-top: 1.5em;
    padding-bottom: 1.9em;
  }


  .navbar-default .navbar-nav > li > a:hover{
    color: #6EAB3A;
    background-color: white;
  }

  .navbar-default .navbar-nav > li > a:focus{
    color: #777777;
    background-color: white;
  }

  .navbar-default .navbar-nav > li.separator {
    color: #777777;
    padding-top: 1.5em;
    padding-bottom: 1.9em;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:visited,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #6EAB3A;
    background-color: white;
  }
}
