
.transaction-control label {
  margin-bottom: 10px;
  font-size: 16px !important;
}

.transaction-control .radio {
  display: inline-block !important;
}
.transaction-control label > input{ /* HIDE RADIO */
  display:none;
}
.transaction-control label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.transaction-control label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:4px solid #6EAB3A;
}

.transaction-control h5 {
  margin: 0 auto;
  padding-bottom: 0px;
  font-weight: 500;
}

.transaction-area{
  background-color: white;
  margin-top: 1em;
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  z-index: 10;
  min-height: 100%;
  max-width: 100%;
}

@media (min-width: 481px) {
  .services {
    margin-left: 2rem;
    z-index: 10;
  }
}

.row {
  margin-right: 0px !important;
}

// .form-group .service-image:hover {
//   opacity: 1;
//   height: 5.2em;
// }
