.notify {
  background-color: $green;
  color: $white;
  padding: 40px 0px;
  font-family: 'bariol';

  text-align: center;

  h1 {
    margin: 0 auto;
  }


  a {
    @include black-button();
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
  }
}
