.notify {
  background-color: $green;
  color: $white;
  padding: 40px 0px;
  font-family: 'bariol';

  text-align: center;

  .share {
    margin-bottom: 50px;

    h1 {
      margin: 0 auto;
    }
  }

  a {
    @include black-button();
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
  }

  hr {
    max-width: 750px;
    border-color: $green - 10;
    padding: 25px 0px;
  }
}
