<div ng-include="'apps/common/views/_header.html'"></div>

<div class="row">
  <div class="col-sm-3 col-lg-2">
    <div ng-include="'apps/transaction/views/partials/_sidebar.html'"></div>
  </div>
  <div class="col-sm-9 col-lg-10 transaction-area">
        <div ui-view="">
          <section class="services" ng-controller="HomeCtrl">
            <div class="service-wrapper">
              <h4>Hello {{currentUser.firstName}}!</h4>
              <h5>Support a loved one by paying for one of the following options</h5>

              <div class="thumbnails service-card col-md-3">
                <a ui-sref="#">
                  <div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
                  <h6 class="card__title"><span class="lnr lnr-heart"></span>Gift Package</h6>
                  <div class="card__action-bar">
                  <p>Surprise someone special with cakes, flowers and hampers
                  </p>
                  
                  </div>
                </a>
              </div>

              <div class="service-card col-md-3">
                <a ui-sref="#">
                  <div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
                  <h6 class="card__title"><span class="lnr lnr-highlight"></span>School Fees</h6>
                  <div class="card__action-bar">
                    <p>
                      Pay directly for your ward's fees with just a click
                    </p>
                  </div>
                </a>
              </div>

              <div class="service-card col-md-3">
                <a ui-sref="#">
                  <div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
                  <h6 class="card__title"><span class="lnr lnr-calendar-full"></span>Utility Bills</h6>
                  <div class="card__action-bar">
                  <p>
                    Take care of monthly water and electricity bills
                  </p>
                  </div>
                </a>
              </div>

              <div class="service-card col-md-3">
                <a ui-sref="app.airtime.choose">
                  <div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
                  <h6 class="card__title"><span class="lnr lnr-smartphone"></span>Airtime Topups</h6>
                  <div class="card__action-bar">
                    <p>
                      Purchase credit on MTN, Vodafone, Airtel and Tigo
                  </p>
                  </div>
                </a>
              </div>


              <div class="service-card col-md-3">
                <a ui-sref="#">
                  <div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
                  <h6 class="card__title"><span class="lnr lnr-cloud-upload"></span>Internet Access</h6>
                  <div class="card__action-bar">
                    <p>
                      Pay for Surfline, Djungle, BlueCloud and iBurst
                  </p>
                  </div>
                </a>
              </div>

              <div class="service-card col-md-3">
                <a ui-sref="app.television.service">
                  <div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
                  <h6 class="card__title"><span class="lnr lnr-screen"></span>Cable TV</h6>
                  <div class="card__action-bar">
                    <p>
                      Pay for DSTV and GoTV
                  </p>
                  </div>
                </a>
              </div>

            </div>

          </section>
        </div>
    </div>
  </div>
</div>

<div ng-include="'apps/common/views/_footer.html'"></div>
