<div ng-include="'apps/common/views/_header.html'"></div>

<div class="container-fluid">
  <div class="col-sm-3 col-lg-2">
    <div ng-include="'apps/transaction/views/partials/_sidebar.html'"></div>
  </div>
  <div class="col-sm-9 col-lg-10 transaction-area">
    <div class="row">
      <div class="col-xs-12">
        <div ui-view="">
          <section class="services">
            <div class="container-fluid">
              <h4>Hello Kwale!</h4>
              <h5>Support a loved one by paying for one of the following options</h5>

              <div class="service-card col-md-3">
                <div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
                <div class="card__action-bar">
                  <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
                </div>
                <a href="#"><span>8 </span>Questions</a>
              </div>

              <div class="service-card col-md-3">
                <div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
                <div class="card__action-bar">
                  <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
                </div>
                <a href="#"><span>39 </span>Answers</a>
              </div>

              <div class="service-card col-md-3">
                <div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
                <div class="card__action-bar">
                  <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
                </div>
                <a href="#"><span>4 </span>Users</a>
              </div>

              <div class="service-card col-md-3">
                <div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
                <div class="card__action-bar">
                  <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
                </div>
                <a href="#"><span>4 </span>Users</a>
              </div>


              <div class="service-card col-md-3">
                <div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
                <div class="card__action-bar">
                  <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
                </div>
                <a href="#"><span>39 </span>Answers</a>
              </div>

              <div class="service-card col-md-3">
                <div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
                <div class="card__action-bar">
                  <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
                </div>
                <a href="#"><span>4 </span>Users</a>
              </div>

              <div class="service-card col-md-3">
                <div style="background-image: url(apps/transaction/images/blank.jpg)" class="card__image"></div>
                <div class="card__action-bar">
                  <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
                </div>
                <a href="#"><span>4 </span>Users</a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
