<section class="transaction-control">
	<div class="container-fluid">
		<strong><h5>Transactions and services so far</h5></strong>

		<div class="container-fluid">
		<div class="transaction-list">
		<!-- <div class="transaction-overlay">
		<div class="pull-right">
			<span class="lnr lnr-eye"></span>
			VIEW DETAILS
		</div> -->
		<div class="transaction-item">
        <a ui-sref="#">
			<div class="widget-icon pull-left">
				<span class="lnr lnr-rocket"></span>
			</div>
			<h5>Buy a Honda 10KVA generator for family house</h5>
			<div class="row">
				<p class="col-md-2">
				<span class="lnr lnr-cart"></span>
				$14.00
				</p>
				<p class="col-md-2">
				<span class="lnr lnr-clock"></span>
				July 26, 2015 4:55pm
				</p>
				<p class="col-md-2">
				<span class="lnr lnr-envelope"></span>
				4 new updates
				</p>
				<p class="col-md-2 text-center bg-warning">
				PENDING
				</p>
			</div>
		</a>
		</div>
		<!-- </div> -->

		<div class="transaction-item">
        <a ui-sref="#">
			<div class="widget-icon pull-left">
				<span class="lnr lnr-heart"></span>
			</div>
			<h5>Bought a chocolate for Maa Kaley</h5>
			<div class="row">
				<p class="col-md-2">
				<span class="lnr lnr-cart"></span>
				$14.00
				</p>
				<p class="col-md-2">
				<span class="lnr lnr-clock"></span>
				July 26, 2015 4:55pm
				</p>
				<p class="col-md-2">
				<span class="lnr lnr-envelope"></span>
				4 new updates
				</p>
				<p class="col-md-2 text-center bg-success">
				DONE
				</p>
			</div>
		</a>
		</div>

		<div class="transaction-item">
        <a ui-sref="#">
			<div class="widget-icon pull-left">
				<span class="lnr lnr-heart"></span>
			</div>
			<h5>Bought a chocolate for Maa Kaley</h5>
			<div class="row">
				<p class="col-md-2">
				<span class="lnr lnr-cart"></span>
				$14.00
				</p>
				<p class="col-md-2">
				<span class="lnr lnr-clock"></span>
				July 26, 2015 4:55pm
				</p>
				<p class="col-md-2">
				<span class="lnr lnr-envelope"></span>
				4 new updates
				</p>
				<p class="col-md-2 text-center bg-success">
				DONE
				</p>
			</div>
		</a>
		</div>
		</div>
		</div>
	</div>
</section>
