<div ng-include="'apps/common/views/_header.html'"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-lg-2 hidden-xs sidebar input-block-level">
      <div ng-include="'apps/transaction/views/partials/_sidebar.html'"></div>
    </div>

    <div class="col-sm-9 col-lg-10 service-wrapper input-block-level">
      <div ui-view="">
        <div class="services" ng-controller="HomeCtrl">
          <div class="container-fluid">
            <h4>Hello {{currentUser.firstName}}!</h4>
            <h5>Support a loved one by paying for one of the following options</h5>

            <div class="row">
              <div class="service-card col-sm-3 __active">
                <a ui-sref="app.gift.details">
                  <div class="card__image __green text-center">
                    <span class="lnr lnr-gift"></span>
                  </div>
                  <h6 class="card__title text-center">
                    <strong>Gift Package</strong></h6>
                    <div class="card__action-bar">
                      <p>
                        Surprise someone special with cakes, flowers and hampers
                      </p>
                    </div>

                  </a>
                </div><!--./service-card-->

                <div class="service-card col-sm-3">
                  <a ui-sref="app.airtime.choose">
                    <div class="card__image __blue text-center">
                      <span class="lnr lnr-smartphone"></span>
                    </div>
                    <h6 class="card__title text-center"><strong>Airtime Topups</strong></h6>
                    <div class="card__action-bar">
                      <p> Purchase credit on MTN, Vodafone, Airtel and Tigo</p>
                    </div>

                  </a>
                </div><!--./service-card-->

                <div class="service-card col-sm-3">
                  <a ui-sref="app.internet.choose">
                    <div class="card__image __yellow text-center">
                      <span class="lnr lnr-laptop-phone"></span>
                    </div>
                    <h6 class="card__title text-center"><strong>Internet Access</strong></h6>
                    <div class="card__action-bar">
                      <p>Pay for Surfline and Vodafone broadband</p>
                    </div>

                  </a>
                </div><!--./service-card-->

                <div class="service-card col-sm-3">
                  <a ui-sref="app.television.choose">
                    <div class="card__image __pink text-center">
                      <span class="lnr lnr-screen"></span>
                    </div>
                    <h6 class="card__title text-center"><strong>Cable TV</strong></h6>
                    <div class="card__action-bar">
                      <p>Pay for DStv and Gotv</p>
                    </div>

                  </a>
                </div><!--./service-card-->

                <div class="service-card col-sm-3">
                  <a ui-sref="app.school.details">
                    <div class="card__image __gray text-center">
                      <span class="lnr lnr-graduation-hat"></span>
                    </div>
                    <h6 class="card__title text-center"><strong>School Fees</strong></h6>
                    <div class="card__action-bar">
                      <p>Pay directly for your ward's fees with just a click</p>
                    </div>

                  </a>
                </div><!--./service-card-->

                <div class="service-card col-sm-3">
                  <a ui-sref="app.utility.choose">
                    <div class="card__image __purple text-center">
                      <span class="lnr lnr-sun"></span>
                    </div>
                    <h6 class="card__title text-center"><strong>Utility Bills</strong></h6>
                    <div class="card__action-bar">
                      <p>Take care of monthly and electricity bills</p>
                    </div>

                  </a>
                </div><!--./service-card-->

              </div>  <!--./row-->
            </div><!--./container-fluid-->
          </div><!--./services-->

        </div><!--.ui-view-->
        <!-- </div> -->
        <!-- </div> -->
        <div class="row">
          <div class="copyright pull-left col-sm-4 col-md-4 col-xs-6">
            BeamPay Inc    |    Copyright 2015
          </div>

          <div class="payment-cards col-sm-4 col-md-4 col-xs-6">
            <p class="small-text text-center">Payment options on Beam</p>
            <div class="row">
              <div class="col-md-3 col-xs-6">
                <img src="apps/transaction/images/PEPSized_Mastercard.png">
              </div>
              <div class="col-md-3 col-xs-6">
                <img src="apps/transaction/images/PEPSized_PayByCreditCard.png">
              </div>
              <div class="col-md-3 col-xs-6">
                <img src="apps/transaction/images/PEPSized_PayPal.png">
              </div>
              <div class="col-md-3 col-xs-6">
                <img src="apps/transaction/images/PEPSized_Visa.png">
              </div>
            </div>
          </div>

          <div class="help pull-right col-sm-4 col-md-4 hidden-xs">
            <a href="#/"><span class="lnr lnr-question-circle"></span>Help</a>
          </div>
        </div>
        <br>

      </div>
    </div><!--./row-->
  </div><!--./container-fluid-->
