<div class="container" ng-controller="UtilityChooseCtrl">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 form">

      <h4>Pay for utility bills</h4>
      <h4>Settle electricity and water bills easily</h4>

      <br>
      <br>
      <br>
      <p>Pay for ECG Bills </p>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="errors" role="alert" ng-show="utility.errors.length">
        <ul>
          <li ng-repeat="error in utility.errors">
            {{ error }}
          </li>
        </ul>
      </div>

      <form>
        <div class="form-group">

          <label for="accountNumber">Account number and district code</label>
          <input ng-model="utility.accountNumber" type="number" class="form-control" placeholder="Eg. 314491300123">
        </div>
        <div class="form-group">
          <label for="creditAmount">How much would you like to pay?</label>
          <div>
            <select class="amount form-control" ng-model="utility.creditAmount">
              <option value="10">10 GHS</option>
              <option value="20">20 GHS</option>
              <option value="50">50 GHS</option>
              <option value="100">100 GHS</option>
              <option value="120">120 GHS</option>
              <option value="150">150 GHS</option>
              <option value="200">200 GHS</option>
            </select>
          </div>
        </div>



        <span>BASE COST &emsp;&emsp;&emsp; SERVICE FEE &emsp;&emsp; TOTAL COST</span>

        <h3>{{ utility.creditAmount}} &ensp;+&ensp; {{serviceCharge}} &emsp;=&emsp; {{serviceCharge*1 + utility.creditAmount*1 || serviceCharge}}</h3>



        <div class="submit">
          <button type="submit" class="btn btn-default" ng-click="utility.submit()">NEXT</button>
        </div>
      </form>

    </div>
  </div>
</div>
