<div class="container-fluid">
  <div class="row">
    <p class="bill-text">You're about to pay for</p>
    <div class="row">
      <div class="col-md-4">
        <img ng-show="details.billType == 'ECG'" src="apps/utility/images/ecg-logo.jpg" alt="" class="final-service-image">
        <img ng-show="details.billType == 'GWC'" src="apps/utility/images/gwc-logo.jpg" alt="" class="final-service-image">
      </div>
      <div class="col-md-6">
        <div class="bill-heading">DESCRIPTION</div>
        <p>GHS {{details.amountGhs}} {{getProvider()}} bill for {{details.recipient.firstName}} {{details.recipient.lastName}}</p>
        <div class="bill-heading">FINAL BILL</div>
        <p>$ {{details.chargeUsd}}</p>
      </div>
    </div>
      <div class="service-button">
            <button class="btn btn-success form-control" ng-click="confirm()">Pay</button>
      </div>
  </div>
</div>
