<div class="container-fluid">
  <div class="row">
    <p>You're about to pay for</p>
    <div class="row">
      <div class="col-xs-4">
        <img ng-show="details.billType == 'ECG'" src="apps/utility/images/ecg-logo.jpg" alt="" class="service-image">
        <img ng-show="details.billType == 'GWC'" src="apps/utility/images/gwc-logo.jpg" alt="" class="service-image">
      </div>
      <div class="col-xs-6">
        <h5>DESCRIPTION</h5>
        <p>GHS {{details.amountGhs}} billing on {{details.billType}}v for {{details.recipient.firstName}} {{details.recipient.lastName}}</p>
        <h5>FINAL BILL</h5>
        <p>$ {{details.chargeUsd}}</p>

        <div class="row">
          <div class="col-xs-6">
            <button class="btn btn-success form-control" ng-click="confirm()">Pay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
