$green: #7dc242;
$light-green: #bdd8a5;
$extra-light-green: #e3f1d8;
$dark-green: #5b8f2f;
$blue: #7a96e7;
$dark-blue: #6177B5;
$gray-light: #919390;
$gray-dark: #676964;
$gray-extra-light: #dedede;
$white: #ffffff;
$dark-white: #f8f8f8;
$black: #000000;
$black-light: #444444;
$orange: #fe960b;
$army-green: #636a11;
$yellow: #d8d226;
$pink: #f71885;
$purple: #c234f7;
$orange: #ffa947;

$body_color: #000000;
$neutral_color: #f8f8f8;
$light_body_color: #969696;
$error_color: #b94a48;
$light_border_color: rgba(0,0,0,0.1);
