<section class="services">
  <div class="row" ng-controller="TelevisionCtrl">
    <div class="container-fluid service-wrapper">
      <h3 class="transaction-h4">Pay for TV bills</h3>
      <h3>Settle DSTv and GOTv bills with ease</h3>

      <div class="page-header text-center">
        <div id="status-buttons" class="text-center" ng-hide="paymentComplete">
          <div class="row">
            <div class="col-xs-4"><a ng-class="{active: chooseState}" ui-sref="app.television.choose" class="col-xs-4"><span></span> Choose Service</a></div>
            <div class="col-xs-4"><a href="" ng-class="{active: recipientState}" ng-click="setDetails()" class="col-xs-4"><span></span> Recipient Details</a></div>
            <div class="col-xs-4"><a href="" ng-class="{active: paymentState}" ng-click="addRecipient()" class="col-xs-4"><span></span> Payment</a></div>
          </div>
        </div>
      </div>

      <div class="errors" role="alert" ng-show="errors.length">
        <p>Error(s):</p>
        <ul>
          <li ng-repeat="error in errors">
            {{ error }}
          </li>
        </ul>
      </div>

      <div ng-hide="paymentSaveSuccess">
        <div class="errors row">
          <div class="col-xs-6">
            An update to the payment could not be made. Please click on the Update button
          </div>
          <div class="col-xs-4">
            <button class="btn btn-warning" ng-click="reSavePayment()">Update</button>
          </div>
        </div>
      </div>

      <div ui-view=""></div>

    </div>
  </div>
</section>
