.airtel-provider {
  background-image: url("/apps/airtime/images/airtel.png");
}

.mtn-provider {
  background-image: url("/apps/airtime/images/mtn.png");
}

.tigo-provider {
  background-image: url("/apps/airtime/images/tigo.png");
}

.vodafone-provider {
  background-image: url("/apps/airtime/images/vodafone.png");
}
