<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img id="logo" src="/images/logo/logo.png" alt="Beam Logo - White on Transparent">
        <h1>To Ghana, with love.</h1>
        <h3>Care for loved ones in Ghana, quickly and affordably.</h3>
        <button>
          Get notified when we launch
        </button>
      </div>
      <div class="col-md-6">
        <img id="hero" src="/images/hero.png" alt="Hero Family Image">
      </div>
    </div>
  </div>
</div>

<div class="services">
  <div class="container">
    <div class="row heading">
      <h1>Provide for loved ones</h1>
      <h3>What can you Beam to friends and family?</h3>
    </div>
    <div class="row">
      <div class="col-md-4 service">
        <div class="circle">
          <img id="school" src="/images/services/school.png" alt="School Service Image">
        </div>
        <div class="text">
          <h3>School fees</h3>
          <h4>Pay directly for your ward's fees in a few clicks</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="utility" src="/images/services/utility.png" alt="Utility Service Image">
        </div>
        <div class="text">
          <h3>Utility bills</h3>
          <h4>Take care of monthly water and electricity bills</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="phone" src="/images/services/phone.png" alt="Airtime Service Image">
        </div>
        <div class="text">
          <h3>Airtime topups</h3>
          <h4>Purchase credit on MTN, Vodafone, Airtel and Tigo</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="shopping" src="/images/services/shopping.png" alt="Gift Card Service Image">
        </div>
        <div class="text">
          <h3>Gift cards</h3>
          <h4>Treat them at MaxMart, Shoprite and Melcom</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="internet" src="/images/services/internet.png" alt="Internet Service Image">
        </div>
        <div class="text">
          <h3>Internet access</h3>
          <h4>Pay for Surfline, Djungle, BlueCloud and iBurst</h4>
        </div>
      </div>
      <div class="col-md-4 service">
        <div class="circle">
          <img id="tv" src="/images/services/tv.png" alt="TV Service Image">
        </div>
        <div class="text">
          <h3>Cable TV</h3>
          <h4>Pay for monthly DSTV and GOtv bills</h4>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-4 question">
        <div class="circle">
          <h1>?</h1>
        </div>
      </div>
      <div class="col-md-6 more">
        <h3>Did we miss anything?</h3>
        <h4>How would you prefer to support loved ones in Ghana?</h4>
        <div class="box">
          <h4>I'd like to support loved ones in Ghana by paying directly for:</h4>
          <input type="text" placeholder="eg. medical bills">
          <div class="text-right">
            <button>Let us know</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="message">
  <h1>Say it in Style</h1>
  <h3>Send a short message with every gift</h3>
  <img src="/images/message/msg.png" alt="Message">
</div>

<div class="care">
  <div class="lead">
    <h1>Remind them that you care</h1>
    <h3>Beam gifts to care for...</h3>
  </div>
  <carousel>
      <slide>
        <div class="row">
          <div class="col-md-4 text-right">
            <img src="/images/care/daughter.png" alt="Care daughter image">
          </div>
          <div class="col-md-6 text">
            <p>
              Your <span>daughter</span> who just took <span>her first step</span>
            </p>
          </div>
        </div>
      </slide>
      <slide>
        <div class="row">
          <div class="col-md-4 text-right">
            <img src="/images/care/bro.png" alt="Care brother image">
          </div>
          <div class="col-md-6 text">
            <p>
              Your <span>brother</span>, your <span>number one</span> fan
            </p>
          </div>
        </div>
      </slide>
      <slide>
        <div class="row">
          <div class="col-md-4 text-right">
            <img src="/images/care/mom.png" alt="Care mom image">
          </div>
          <div class="col-md-6 text">
            <p>
              Your <span>mother</span> who called to say <span>she misses you</span>
            </p>
          </div>
        </div>
      </slide>
      <slide>
        <div class="row">
          <div class="col-md-4 text-right">
            <img src="/images/care/friend.png" alt="Care friend image">
          </div>
          <div class="col-md-6 text">
            <p>
              An <span>old friend</span> in need of a <span>helping hand</span>
            </p>
          </div>
        </div>
      </slide>
    </carousel>
</div>

<div class="notify">
  <h1>Care for loved ones in Ghana with Beam</h1>
  <button>Get notified when we launch</button>
</div>

<footer>
  <div class="row">
    <div class="col-md-offset-2 col-md-2 section">
      <img src="/images/logo/logo.png" alt="Beam Logo - White on Transparent">
      <h4>Care for loved ones in Ghana quickly and affordably.</h4>
    </div>
    <div class="col-md-2 section">
      <h3>LINKS</h3>
      <ul>
        <li><a href="#">Homepage</a></li>
        <li><a href="#">About Beam</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Press Pack</a></li>
      </ul>
    </div>
    <div class="col-md-2 section">
      <h3>CONTACT BEAM</h3>
      <ul>
        <li><a href="tel:+233265524931">+233 (0)26 552 4931</a></li>
        <li><a href="mailto:hello@beamremit.com">hello@beamremit.com</a></li>
      </ul>
    </div>
    <div class="col-md-2 section">
      <h3>SAY HELLO</h3>
      <ul>
        <li><a href="#">Beam on Facebook</a></li>
        <li><a href="#">Beam on Twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
