<div class="container-fluid">
  <div class="row">
    <p class="bill-text">You're about to pay for</p>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <img ng-repeat="(provider, property) in providerProperties" ng-show="details.provider == '{{provider}}'" ng-src="{{property.logo}}" alt="" class="final-service-image">
      </div>
      <div class="col-xs-6">
        <div class="bill-heading">DESCRIPTION</div>
        <p><strong>{{longDescription}}</strong></p>
        <div class="bill-heading">FINAL BILL:</div>
        <p>$ {{details.chargeUsd}}</p>
      </div>
    </div>
    <span style="font-size:14px;">Please note that you might incur a small charge from your bank for payments from outside the U.S.</span>
    <div class="form-group">
          <div class="service-button">
            <button ladda="laddaPay" class="btn btn-success form-control" ng-click="confirm()">Pay</button>
          </div>
    </div>
    <div class="row" ng-if="pricing.freeTransactionNo > 0">
      <div class="col-xs-12">
        <p class="text-muted">*This transaction is free of any service charges.</p>
      </div>
    </div>
  </div>
</div>
