<div class="about-contact">
  <div class="container">
    <div class="row content">
      <div class="col-md-6">
        <div class="col-xs-12 service-pt"><span>TALK TO THE CEO</span><br><br>
          <span class="details">
            <p>Here at Beam, our customers are the most valuable asserts to us and that is why we're giving you a direct line to reach out to Falk, CEO of Beam - and get all your questions answered. 
            </p>
            <p>We're open to share new ideas, feedback and anything else you believe can help Ghanaians in the diaspora send love back home.
            </p>
          </span>
        </div>
        </div>

      <div class="col-md-6">
        <div class="col-xs-12 service-pt"><span>  </span><br><br>
          <span class="details">
          <p>Here's our CEO's contact details:</p>
            <p><i class="fa fa-envelope-o"></i>&nbsp;<a class="email" href="mailto:hello@beampay.co"> hello@beampay.co</a>
            </p>
            <p><i class="fa fa-whatsapp"></i>&nbsp; +1 (415) 871 0438
            </p>
          </span>
        </div>
        
      </div>
    </div>
    </div>
</div>


<!-- <p>
          <a class="email" href="mailto:hello@beampay.co">hello@beampay.co</a>
        </p>
        <p>
          <a class="email" href="tel:+14158710438">+1 (415) 871 0438</a><br>
          <a class="email" href="tel:+233509392087">+233 (0)50 939 2087</a>
        </p> -->

        