<div class="about-contact">
  <div class="container">
    <div class="row content">
      <div class="col-md-6">
        <div class="col-xs-12 service-pt"><span>TALK TO THE CEO</span><br><br>
          <span class="details">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem, totam rem aperiam 
            </p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
          </span>
        </div>
        </div>

      <div class="col-md-6">
        <div class="col-xs-12 service-pt"><span>  </span><br><br>
          <span class="details">
            <p>
              Email: <a class="email" href="mailto:hello@beampay.co">hello@beampay.co</a>
            </p>
            <p>Whatsapp: +1 (415) 871 0438
            </p>
          </span>
        </div>
        
      </div>
    </div>
    </div>
</div>


<!-- <p>
          <a class="email" href="mailto:hello@beampay.co">hello@beampay.co</a>
        </p>
        <p>
          <a class="email" href="tel:+14158710438">+1 (415) 871 0438</a><br>
          <a class="email" href="tel:+233509392087">+233 (0)50 939 2087</a>
        </p> -->

        