<div class="landing-intro" ng-controller="HeaderCtrl">
  <div class="container">
    <div class="row">
      <div class="navbar">
        <a ui-sref="landing" class="navbar-brand">
          <img src="apps/common/images/logo/logo.png" alt="Beam Logo - White on Transparent">
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-list">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <ul class="nav navbar-right">
          <li class="nv-lk hidden-xs">
            <a ui-sref="landing">
              <h4 class="nav-link bord">
                Homepage
              </h4>
            </a>
          </li>
          <li class="nv-lk hidden-xs">
            <a ui-sref="faqs">
              <h4 class="nav-link bord">
                FAQs
              </h4>
            </a>
          </li>
          <li class="nv-lk hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             <h4 class="nav-link bord">
               <span class="fa fa-whatsapp"></span>&nbsp; +233 (0)50 554 6420<i class="fa fa-caret-down"></i></h4>
             </a>
             <ul class="dropdown-menu tel-nos">
               <li><a href=""> <i class="lnr lnr-phone-handset"></i>&nbsp; +233 (0)50 939 2087</a></li>
               <!-- <li><a href="">SMS:&nbsp; +1 (415) 881 4216</a></li> -->
             </ul>
           </li>
           <li class="nv-lk hidden-xs">
            <a ui-sref="signin">
              <h4 class="nav-link">
                <span ng-if="loggedin"><i class="lnr lnr-lock"></i> {{currentUser.firstName}} {{currentUser.lastName}}</span>

                <span ng-if="!loggedin"><i class="lnr lnr-lock"></i> Login</span>
              </h4>
            </a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse pull-right" id="navbar-list">
        <ul class="nav navbar-right hidden-sm hidden-md hidden-lg">
          <li class="nv-lk">
            <a ui-sref="landing">
              <h4 class="nav-link bord">
                Homepage
              </h4>
            </a>
          </li>
          <li class="nv-lk">
            <a ui-sref="faqs">
              <h4 class="nav-link bord">
                FAQs
              </h4>
            </a>
          </li>
          <li class="nv-lk">
            <a ui-sref="signin">
              <h4 class="nav-link">
                <span ng-if="loggedin"><i class="lnr lnr-lock"></i> {{currentUser.firstName}} {{currentUser.lastName}}</span>

                <span ng-if="!loggedin"><i class="lnr lnr-lock"></i> Login</span>
              </h4>
            </a>
          </li>
        </ul>

      </div>

    </div> <!-- .row -->
    <div class="row">
     <div class="col-sm-12 col-xs-12 text-center" style="padding-top:40px; padding-bottom:20px;">
      <h2><span class="header-font">ABOUT BEAM</span><span></span></h2>
      <h4>We love Ghana and know you do, too!</h4>
    </div>
  </div><!-- top-fold row -->
</div>
</div>
