<div class="about-beam">
  <div class="container">

    <div class="row content inv">
     <div class="col-sm-6">
       <p class="about-title">ABOUT BEAM PAY</p>
       <span class="details">
         Beam Pay is fintech startup which runs from the Meltwater Incubator in East Legon - Accra, Ghana. <br> <br>Beam is allowing Ghanaians in the diaspora to pay for bills, services delivery and buy gifts for friends and family back home.
       </span> 
     </div>
     <div class="col-sm-6">
      <img class="img img-responsive" src="apps/transaction/images/blank.jpg" style="width:430px; height:220px;">
    </div>
  </div><!-- ./row content -->

  <hr>

  <div class="row content inv">
   <div class="col-sm-6">
     <p class="about-title">PEOPLE BEHIND BEAM</p> 
     <span class="details">
      <p>We're team made up of people who love what we do. The core focus of Beam is to deliver top-notch service to all our clients - home and abroad.
      </p>
      <p>Everyday, we work to ensure that you too can send love back home - wherever you are in the world!
      </p>
    </span> 
  </div> 
</div><!-- ./row content --> 

<div class="row content">
  <div class="col-sm-12 text-center">
    <p class="about-title">CORE TEAM</p>
  </div>

   <div class="col-md-offset-2 col-md-8 col-xs-12 team-sec">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <img class="img img-responsive ivt-img pc-bord" src="apps/transaction/images/blank.jpg" alt=""/>
      </div>
      <div class="col-xs-12 col-sm-7">
        <p class="name">Falk Benke, CEO</p>
        <p class="write-up">Falk is the resident German, originally from Berlin.  He came to Ghana in 2013 to work as a Teaching Fellow at the Meltwater Entrepreneurial School of Technology (MEST). Here, he got excited about entrepreneurship and decided to stay to start his own company out of Ghana. In his freetime, he enjoys travelling West Africa and hanging out at the gym. His favourite Ghanaian dish is Red Red.</p>
      </div>
    </div>    
  </div><!-- team-sec -->

  <div class="col-md-offset-2 col-md-8 col-xs-12 team-sec">
    <div class="row">
      <div class="col-xs-12 col-sm-5 pull-right">
        <img class="img img-responsive ivt-img pc-bord" src="apps/transaction/images/blank.jpg" alt=""/>
      </div>
      <div class="col-xs-12 col-sm-7">
        <p class="name">Gerald Pharin, CTO</p>
        <p class="write-up">Gerald spends his day with his newly-found girlfriend. There isn't a thing he could do without her. He likes to spend the weekend with his family and definitely loves to watch comic videos. When not working, you'll see him smiling most of the time behind his laptop - no one knows why. You should ask him when you do get a chance to do so.</p>
      </div>
    </div>    
  </div><!-- team-sec -->

  <div class="col-md-offset-2 col-md-8 col-xs-12 team-sec">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <img class="img img-responsive ivt-img pc-bord" src="apps/transaction/images/blank.jpg" alt=""/>
      </div>
      <div class="col-xs-12 col-sm-7">
        <p class="name">Kingston Tagoe, CPO</p>
        <p class="write-up">After spending a couple of days at Aburi, Kingston found the perfect and breath-taking view which overlooks Accra and he often spends his weekend there to relax. He loves listening to stories about how the older folks lived pre-independence - and he plans on putting this into a book sometime in the future. After training as an Aerospace engineer, he pursued his passion in tech entreprenuership at MEST and now manages product development at Beam.</p>
      </div>
    </div>    
  </div><!-- team-sec -->
  
</div><!-- ./row content -->

<div class="row content">
  <div class="col-xs-12 text-center padd-tb">
    <p class="about-title inv">ADVISORS &amp; INVESTORS</p>
  </div>
  <div class="col-md-6 col-xs-12 investor-sec">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <img class="img img-responsive ivt-img pc-bord" src="apps/transaction/images/blank.jpg" alt=""/>
      </div>
      <div class="col-xs-12 col-sm-7">
        <p class="name">Neal Hansch, Advisor</p>
        <p class="write-up">Neal has over fifteen years experience in venture capital, technology operations and investment banking. Most recently, he was a General Partner with Rustic Canyon Partners (RCP), an early-stage focused investment fund with $500MM under management. Neal does his best to disconnect from his digital devices by heading to the nearest body of water to enjoy some surfing, scuba diving, sailing or fishing.</p>
      </div>
    </div>    
  </div><!-- investor-sec -->

  <div class="col-md-6 col-xs-12 investor-sec">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <img class="img img-responsive ivt-img pc-bord" src="apps/transaction/images/blank.jpg" alt=""/>
      </div>
      <div class="col-xs-12 col-sm-7">
      <p class="name">Emmanuel Quartey, Marketing Advisor</p>
        <p class="write-up">Emmanuel is happiest when neck-deep in Photoshop files. He’s worked on the design and marketing teams of organizations both large and small, including SeeClickFix and the Yale Office of Public Affairs and Communications. He holds a BA in Architecture from Yale University, and can often be found reading or writing about comics, online communities, and the relationship between language and interfaces.</p>
      </div>
    </div>    
  </div><!-- investor-sec -->

  <div class="col-md-6 col-xs-12 investor-sec">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <img class="img img-responsive ivt-img pc-bord" src="apps/transaction/images/blank.jpg" alt=""/>
      </div>
      <div class="col-xs-12 col-sm-7">
      <p class="name">David Long, Legal Advisor</p>
        <p class="write-up">David is a San Francisco based, digital currency anti-money laundering attorney specializing in addressing the specific, AML compliance and fraud prevention challenges facing companies operating in that environment. His deep experience leverages his expertise in AML, fraud investigations, legal services, enforcement, business, education and training.</p>
      </div>
    </div>    
  </div><!-- investor-sec -->

  <div class="col-md-6 col-xs-12 investor-sec">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <img class="img img-responsive ivt-img pc-bord" src="apps/transaction/images/blank.jpg" alt=""/>
      </div>
      <div class="col-xs-12 col-sm-7">
      <p class="name">Meltwater Foundation, Investor</p>
        <p class="write-up">The Meltwater Entrepreneurial School of Technology (MEST) and the MEST Incubator program provide training, investment and mentoring for aspiring technology entrepreneurs with the goal of creating globally successful companies that create wealth and jobs locally πin Africa.</p>
      </div>
    </div>    
  </div><!-- investor-sec -->
</div><!-- ./row content -->

</div><!-- ./container -->
</div><!-- ./about-beam -->
